<%= semantic_form_for [@sem_app, @entry] do |f| %>
  <%= hidden_field_tag :origin_id, @origin_id %>

  <%= f.inputs do %>
    <%= f.input :text, :label => 'Text', :input_html => { :rows => '10', :class => 'textile'} %>
    <%= f.input :publish_on, :label => 'Veröffentlichen am', :required => false %>
  <% end %>

  <%= f.buttons do %>
    <%= f.commit_button 'Speichern' %>
    <li class="commit">
      <%= link_to 'Abbrechen', sem_app_path(@entry.sem_app, :anchor => 'media') %>
    </li>
  <% end %>
<% end %>
