<div class="section">
  <h3>&raquo; Seminarapparate</h3>
  <ul>
    <li><%= link_to(Semester.current.title, semester_index_path) %></li>
    <li><%= link_to('Archiv', sem_apps_path) %></li>
  </ul>
</div>

<div class="section">
  <h3>&raquo; Für Lehrende</h3>
  <ul>
    <% if current_user %>
      <li><%= link_to('Meine Seminarapparate', user_path) %></li>
    <% end %>
    <li><%= link_to('Seminarapparat beantragen', new_sem_app_path) %></li>
    <li><%= link_to('Hinweise zum Urheberrecht', '#', :class => 'pui-overlay-trigger', :rel => '#legal-info') %></li>
  </ul>
</div>

<div class="section">
  <h3>&raquo; Video-Tutorials</h3>
  <div style="font-size:90%" class="pui-panel notice">
    <%= icon 'question-shield.png' %>
    Video-Tutorials für Lehrende zum
    Schnelleinstieg in die neuen Seminarapparate.<br/>
    &raquo;
    <%= link_to('Tutorials ansehen', 'http://vimeo.com/upb', :target => 'blank') %>
  </div>
</div>
