<% if current_user %>
  <span>
    Willkommen
    <strong><%= current_user.name %></strong>
    (<%= current_user.login %>)
  </span>

  <% if current_user.is_admin? %>
    <% link_to admin_root_path do %>
      <%= image_tag 'icons/user-black.png', :plugin => 'pui' %>
      Administration
    <% end %>
  <% end %>

  <% link_to user_path do %>
    <%= image_tag 'icons/user-orange.png', :plugin => 'pui' %>
    Meine Seminarapparate
  <% end %>

  <% link_to destroy_user_session_path, :confirm => 'Wirklich abmelden?' do %>
    <%= image_tag 'icons/door-open-out.png', :plugin => 'pui' %>
    Abmelden
  <% end %>
<% else %>
  <% link_to new_user_session_path do %>
    <%= image_tag 'icons/door-open-in.png', :plugin => 'pui' %>
    Login für Lehrende
  <% end %>
<% end %>

<a href="#" rel="#common-help" class="pui-overlay-trigger">
  <%= image_tag 'icons/question-shield.png', :plugin => 'pui' %>
  Hilfe
</a>