<% if current_user %>
  <span>
    Willkommen
    <strong><%= current_user.name %></strong>
  </span>

  <% if current_user.is_admin? %>
    <%= link_to admin_root_path do %>
      <%= icon 'user-black.png' %>
      Administration
    <% end %>
  <% end %>

  <%= link_to user_path do %>
    <%= icon 'user-orange.png' %>
    Meine Seminarapparate
  <% end %>

  <%= link_to logout_path, :data => {:confirm => 'Wirklich abmelden?'} do %>
    <%= icon 'door-open-out.png' %>
    Abmelden
  <% end %>
<% else %>
  <%= link_to login_path do %>
    <%= icon 'door-open-in.png' %>
    Login für Lehrende
  <% end %>
<% end %>

<a href="#" rel="#common-help" class="pui-overlay-trigger">
  <%= icon 'question-shield.png' %>
  Hilfe
</a>
