<%
  source = @placeholders.map{|s| {value: s.id, label: s.book_shelf.ils_account} }
%>

<%= semantic_form_for ['admin', @book] do |f| %>
  <%= f.error_messages %>

  <%= f.inputs do %>
    <input type="hidden" id="placeholder_id" name="book[placeholder_id]">
    <%= f.input :placeholder, as: :string, label: 'Ausweis Nr.', input_html: {"data-autocomplete" => true, "data-autocomplete-source" => source.to_json, "data-autocomplete-id-field" => "#placeholder_id"} %>
  <% end %>

  <%= f.buttons do %>
    <%= f.commit_button 'Speichern' %>
    <li>
      <%= link_to 'Abbrechen', admin_sem_app_path(@book.sem_app, :anchor => 'new-books') %>
    </li>
  <% end %>
<% end %>

<span>* Pflichtfelder</span>
