<h3 class="section">Anmeldung für Lehrende</h3>

<div class="pui-panel">
  <%= icon 'asterisk.png' %>
  <strong>Bitte beachten Sie:</strong> Diese Anmeldung ist für Lehrende, die einen Seminarapparat erstellen oder
  bearbeiten wollen bzw. für Studierende, die mit der Bearbeitung von Seminarapparaten im Rahmen einer SHK-Tätigkeit
  beauftragt wurden. Alle Anderen melden sich mittels Lesekennung direkt am jeweiligen Apparat an*.
</div>

<%= semantic_form_for :session, url: sessions_path do |f| %>
  <%= f.error_messages %>
  <%= f.inputs :name => "Anmeldung (mit Bibliothekslogin**)" do %>
    <%= f.input :login,    :label => 'Login', :required => false %>
    <%= f.input :password, :label => 'Passwort', :required => false %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, label: 'Anmelden' %>
  <% end %>
<% end %>

<p>
  * Die Lesekennung wird vom Dozierenden festgelegt und wird in der Regel in der Veranstaltung bekannt gegeben.
  Alternativ ist ein Zugriff auf die Seminarapparate über <a href="http://koala.uni-paderborn.de">KoaLA</a>
  möglich (sofern ein entsprechender Kurs in KoaLA eingerichtet und mit den Seminarapparaten verknüpft wurde).
</p>

<p>
  ** Um sich als Lehrender anzumelden, verwenden Sie bitte die persönlichen
  Zugangsdaten Ihres Bibliothekskontos. Die Benutzernummer finden Sie auf Ihrem
  Bibliotheksausweis. Bei Fragen wenden Sie sich bitte an das <a href="#" class="pui-overlay-trigger" rel="#common-help">Informationszentrum der Bibliothek</a>.
</p>
