<h3 class="section">Anmeldung f&uuml;r Lehrende</h3>

<div class="pui-panel">
  <%= icon 'asterisk.png' %>
  <strong>Bitte beachten Sie:</strong> Diese Anmeldung ist f&uuml;r Lehrende die einen Seminarapparat erstellen oder
  bearbeiten wollen. Studierende melden sich mittels der bekanntgegebenen Lesekennung am jeweiligen Apparat an*.
</div>

<% semantic_form_for resource_name, resource, :url => session_path(resource_name) do |f| %>
  <%= f.error_messages %>
  <% f.inputs :name => "Anmeldung (mit Bibliothekslogin**)" do %>
    <%= f.input :login,    :label => 'Login', :required => false %>
    <%= f.input :password, :label => 'Passwort', :required => false %>
  <% end %>

  <% f.buttons do %>
    <%= f.commit_button 'Anmelden' %>
  <% end %>
<% end %>

<p>
  * Die Lesekennung wird vom Dozenten festgelegt und wird in der Regel in der Veranstaltung bekannt gegeben.
  Alternativ ist ein Zugriff auf die Seminarapparate &uuml;ber <a href="http://koala.uni-paderborn.de">KoaLA</a>
  möglich (sofern ein entsprechender Kurs in KoaLA eingerichtet wurde).
  Zu einem sp&auml;teren Zeitpunkt wird eine Anmeldung auch &uuml;ber die IMT Zugangsdaten möglich sein.
</p>

<p>
  ** Um sich an diesem System anzumelden verwenden Sie bitte die persönlichen
  Zugangsdaten Ihres Bibliothekskontos. Die Benutzernummer finden Sie auf Ihrem
  Bibliotheksausweis. Die Anmeldung setzt einen A-Ausweis voraus. Bei Fragen
  wenden Sie sich bitte an das <a href="#" class="pui-overlay-trigger" rel="#common-help">Informationszentrum der Bibliothek</a>.
</p>

