<p>
  <strong>Quelle:</strong>
  <%= @scanjob.entry.instance.to_s %>
</p>

<%= semantic_form_for [@entry, @scanjob] do |f| %>

  <%= f.inputs do %>
    <%= f.input :signature,  :label => 'Signatur in der Bibliothek', :required => true, :hint => '<b>Bitte beachten Sie:</b> Wir scannen ausschließlich Bücher und Zeitschriften aus unserem Bestand. Geben Sie bitte dazu die Signatur der o.g. Quelle an. Bitte recherchieren Sie die Signatur mit unserem <a href="https://katalog.ub.uni-paderborn.de" target="blank">Katalog</a>'.html_safe %>
    <%= f.input :pages_from, :label => 'Seiten von', :required => true %>
    <%= f.input :pages_to,   :label => 'Seiten bis', :required => true %>
    <%= f.input :comment,    :label => 'Kommentar', :required => true, :input_html => {:rows => 2}, :hint => 'Öffentlicher Kommentar: Der Text wird Ihren Studierenden neben der gescannten Datei angezeigt. Sie können hier z.B. Bearbeitungshinweise angeben. Beispiele: "Bitte sorgfältig lesen", "Kapitel 1-3", etc.' %>
    <%= f.input :accepts_copyright, :as => :boolean, :required => false, :label => "Ich bestätige, dass ich mit dem Scanauftrag und der Bereitstellung der Datei nicht gegen geltendes Urheberrecht verstoße<br/>#{link_to('Hinweise zum Urheberrecht', '#', :class => 'pui-overlay-trigger', :rel => '#legal-info')}".html_safe %>
  <% end %>

  <%= f.inputs :name => 'Interne Bearbeitungshinweise' do %>
    <%= f.input :message, :label => 'Ihre Nachricht an uns', :required => false, :input_html => {:rows => 2}, :hint => 'Ihre Nachricht/Hinweise an die Bibliothek. Wird nicht öffentlich angezeigt.' %>
  <% end %>

  <%= f.buttons do %>
    <%= f.commit_button 'Scan beauftragen' %>
    <li class="commit">
      <%= link_to 'Abbrechen', sem_app_path(@scanjob.entry.sem_app, :anchor => 'media') %>
    </li>
  <% end %>
<% end %>
