<%= form_for [:admin, @location], :html => {:class => 'puiform'} do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend>Basisdaten</legend>
    <ol>
      <li>
        <%= f.label      :title, "Titel" %>
        <%= f.text_field :title %>
      </li>
    </ol>
  </fieldset>
  <fieldset class="submit">
    <legend>Speichern</legend>
    <%= f.submit 'Speichern' %>
    <%= link_to 'Abbrechen', admin_locations_path %>
  </fieldset>
<% end %>

