<div id="locations-listing">
  <% if @locations and not @locations.empty?  %>
    <table class="pui-datagrid">
      <thead>
        <tr>
          <th></th>
          <th>Titel</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="locations">
        <% @locations.each do |location| %>
          <%= content_tag_for(:tr, location) do %>
          <td class="drag_handle" nowrap="true">
            <span class="ui-icon ui-icon-grip-dotted-horizontal"></span>
          </td>
          <td width="100%">
            <%= location.title %>
            (<%= location.count %>)
          </td>
          <td align="right" nowrap="true">
            <%= link_to 'Bearbeiten', edit_admin_location_path(location) %>
            <% unless location.used? %>
              <%= link_to 'Löschen', admin_location_path(location), :method => :delete, :confirm => "Soll der Standort wirklich gelöscht werden?" %>
            <% end  %>
          </td>
        <% end %>
      <% end %>
      </tbody>
    </table>
    <span style="font-size: 90%; font-style: italic">(Um die Reihenfolge der Eintr&auml;ge festzulegen ziehen Sie sie mit der Maus <span class="ui-icon ui-icon-grip-dotted-horizontal"></span>)</span>
  <% else %>
    <div class="pui-panel notice">
      <p>
        Keine Standorte eingerichtet.
      </p>
    </div>
  <% end %>
</div>

<%= sortable_element('locations',
  :tag      => :tr,
  :handle   => :drag_handle,
  :ghosting => true,
  :url      => reorder_admin_locations_path,
  :method   => :put) %>