<% semantic_form_for [@sem_app, @entry] do |f| %>
  <%= hidden_field_tag :origin_id, @origin_id %>

  <% f.inputs :name => 'Angaben zum Beitrag' do %>
    <%= f.input :author,           :label => 'Autor(en)' %>
    <%= f.input :title,            :label => 'Titel',      :input_html => {:rows => 2} %>
    <%= f.input :pages_from,       :label => 'Seiten von', :required => false %>
    <%= f.input :pages_to,         :label => 'Seiten bis', :required => false %>
  <% end %>

  <% f.inputs :name => 'Angaben zur Quelle' do %>
    <%= f.input :source_title,     :label => 'Titel', :required => false %>
    <%= f.input :source_editor,    :label => 'Autor(en)', :required => false %>
    <%= f.input :source_edition,   :label => 'Ausgabe / Auflage / Heftnummer', :required => false %>
    <%= f.input :source_year,      :label => 'Erscheinungsjahr / Jahrgang', :required => true %>
    <%= f.input :source_publisher, :label => 'Verlag', :required => false %>
    <%= f.input :source_place,     :label => 'Erscheinungsort', :required => false %>    
    <%= f.input :source_ref,       :label => 'ISBN/ISSN', :required => false %>
    <%= f.input :source_signature, :label => 'Signatur in der Bibliothek', :required => false %>
  <% end %>

  <% f.inputs :name => 'Kommentar' do %>
    <%= f.input :comment, :label => 'Kommentar', :input_html => {:rows => 5}, :required => false %>
  <% end %>

  <% f.buttons do %>
    <%= f.commit_button 'Speichern' %>
    <li class="commit">
      <%= link_to 'Abbrechen', sem_app_path(@entry.sem_app, :anchor => 'media') %>
    </li>
  <% end %>
<% end %>
