<%= render 'shared_partials/ajax_flash_messages' %>

<div id="ownerships-listing">
  <% if @ownerships and not @ownerships.empty?  %>
    <table class="pui-datagrid">
      <tr>
        <th>Login</th>
        <th></th>
      </tr>
      <% @ownerships.each do |o| %>
        <tr>
          <td>
            <strong><%= o.user.full_name %></strong>
            (<%= mail_to o.user.email %>)<br/>
            <%= o.user %>
            <%= '<br/>Telefon:' + o.user.phone if o.user.phone.present? %>
          </td>
          <td align="right">
            <%= link_to 'Löschen', admin_sem_app_ownership_path(@sem_app, o), :method => :delete, :confirm => "Soll der Besitzer #{o.user.login} wirklich gelöscht werden?" %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <div class="pui-panel notice">
      <p>
        Keine Besitzer eingerichtet.
      </p>
    </div>
  <% end %>
</div>
