<h3>eSeminarapprat '<%= link_to h(@sem_app.title), sem_app_url(@sem_app) %>' bearbeiten</h3>
<%= render 'admin/shared_partials/sem_app_edit_tabbar', :sem_app => @sem_app, :active_tab => :ownerships %>

<% if @ownerships and not @ownerships.empty?  %>
  <% pui_panel :panel_style => 'highlight' do %>
    <p style="font-size: 90%">
      Folgende Nutzer sind mit dem eSeminarapparat als Besitzer verknüpft.
      Besitzer können den eSeminarapparat bearbeiten und verwalten.
    </p>
  <% end %>
<% end %>

<a href="#" id="new_ownership_link">Neuen Besitzer hinzufügen</a>
<script type="text/javascript">
  jQuery(function() {
    jQuery('#user_finder_dialog').dialog({
      modal: true,
      autoOpen: false,
      width: 450,
      height: 350
    });

    jQuery("#new_ownership_link").click(function() {
      jQuery('#user_finder_dialog').dialog('open');
    });
  });
</script>

<% if @ownerships and not @ownerships.empty?  %>
  <table class="pui-datagrid">
    <tr>
      <th>Login</th>
      <th></th>
    </tr>
    <% @ownerships.each do |o| %>
      <tr>
        <td>
          <%= h(o.user) %>
        </td>
        <td align="right">
          <%= pui_link_icon 'Löschen', 'trash', admin_sem_app_ownership_path(@sem_app, o), :method => :delete, :confirm => "Soll der Besitzer #{o.user.login} wirklich gelöscht werden?" %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <% pui_panel :panel_style => 'highlight', :style => 'text-align:center' do %>
    <p>
      Keine Besitzer eingerichtet.
    </p>
  <% end %>
<% end %>

<%= render 'user_finder_dialog' %>
