<%= semantic_form_for [@sem_app, @entry] do |f| %>
  <%= hidden_field_tag :origin_id, @origin_id %>

  <%= f.inputs do %>
    <%= f.input :style, :label => 'Typ', :as => :select, :collection => {"Überschrift 1 (h1)" => 0, "Überschrift 2 (h2)" => 1, "Überschrift 3 (h3)" => 2}, :selected => (@entry.style || 0), :required => false %>
    <%= f.input :headline, :label => 'überschrift' %>
  <% end %>

  <%= f.buttons do %>
    <%= f.commit_button 'Speichern' %>
    <li class="commit">
      <%= link_to 'Abbrechen', sem_app_path(@entry.sem_app, :anchor => 'media') %>
    </li>
  <% end %>
<% end %>
