<% if scanjobs.present? %>
  <div class="pui-panel align-right">
    <%= link_to 'Liste Drucken', admin_scanjobs_print_list_path('ordered'), :class => "pui-button print" %>
  </div>

  <div class="pui-collection-view">
    <% scanjobs.each do |sj| %>
      <div class="item">
        Auftrag vom: <strong><%= sj.created_at.to_formatted_s(:short) %></strong> //
        Signatur: <strong><%= sj.signature %></strong> //
        Seite von-bis: <strong><%= sj.pages %></strong>
        <p>
          <strong>Quelle:</strong> <%= sj.entry.to_s %>
        </p>

        <div class="pui-panel align-right">
          <%= link_to 'Details', admin_scanjob_path(sj), :class => "pui-button" %>
          <%= link_to 'Drucken', admin_scanjob_print_job_path(sj), :class => "pui-button print" %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="pui-panel notice align-center">
    Keine Scanaufträge vorhanden
  </div>
<% end %>
