<% if scanjobs.present? %>
  <div class="pui-panel align-right">
    <% link_to admin_scanjobs_print_list_path(list_name), :class => "pui-button print" do %>
      <%= icon "printer.png" %>
      Liste Drucken
    <% end %>
  </div>

  <div class="pui-collection-view">
    <% scanjobs.each do |sj| %>
      <div class="item">
        Auftrag vom: <strong><%= sj.created_at.to_formatted_s(:short) %></strong> //
        Signatur: <strong><%= sj.signature %></strong> //
        Seite von-bis: <strong><%= sj.pages %></strong>
        <p>
          <strong>Quelle:</strong> <%= sj.entry.to_s %>
        </p>

        <div class="pui-panel align-right">
          <% link_to admin_scanjob_path(sj), :class => "pui-button" do %>
            <%= icon 'eye.png' %>
            Details
          <% end %>
          <% link_to admin_scanjob_print_job_path(sj), :class => "pui-button print" do %>
            <%= icon 'printer.png' %>
            Drucken
          <% end %>

          <% if sj.state == "ordered" or sj.state == "accepted" %>
            <% link_to defer_admin_scanjob_path(sj), :class => "pui-button", :method => :put do %>
              <%= icon 'lock.png' %>
              Zurückstellen
            <% end %>
          <% end %>

          <% if sj.state == "deferred" %>
            <% link_to dedefer_admin_scanjob_path(sj), :class => "pui-button", :method => :put do %>
              <%= icon 'plus.png' %>
              In Bearbeitung
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="pui-panel notice align-center">
    Keine Scanaufträge vorhanden
  </div>
<% end %>
