<% media = scanjob.media.instance %>

<div class="scanjob-detail">
  <h4 class="section">Scan-Info</h4>
  <div class="pui-collection-view labeled">
    <%= labeled_item :label => 'Signatur', :content => scanjob.signature %>
    <%= labeled_item :label => 'Seiten von-bis', :content => "#{scanjob.pages_from}-#{scanjob.pages_to}" %>

    <% if media.respond_to?(:title) and not media.is_a?(Monographmedia) %>
      <%= labeled_item :label => 'Aufsatztitel', :content => media.title %>
    <% end %>

    <% if media.respond_to?(:source_title) %>
      <%= labeled_item :label => 'Titel der Quelle', :content => media.source_title %>
    <% end %>

    <% if media.respond_to?(:author) %>
      <%= labeled_item :label => 'Autor', :content => media.author %>
    <% end %>

    <% if media.respond_to?(:source_editor) %>
      <%= labeled_item :label => 'Herausgeber', :content => media.source_editor %>
    <% end %>

    <% if media.respond_to?(:year) %>
      <%= labeled_item :label => 'Erscheinungsjahr', :content => media.year %>
    <% end %>

    <% if media.respond_to?(:source_year) %>
      <%= labeled_item :label => 'Erscheinungsjahr der Quelle', :content => media.source_year %>
    <% end %>

    <% if media.respond_to?(:volume) %>
      <%= labeled_item :label => 'Band', :content => media.volume %>
    <% end %>

    <% if media.respond_to?(:issue) %>
      <%= labeled_item :label => 'Heft', :content => media.issue %>
    <% end %>

    <% if scanjob.message.present? and action_name == 'show' %>
      <%= labeled_item :label => 'Nachricht', :content => scanjob.message %>
    <% end %>
  </div>

  <h4 class="section">Auftrag</h4>
  <div class="pui-collection-view labeled">
    <%= labeled_item :label => 'Auftrag #',      :content => scanjob.id %>
    <%= labeled_item :label => 'Auftrag vom',    :content => scanjob.created_at.to_formatted_s(:long) %>
    <%= labeled_item :label => 'Quelle',         :content => media.to_s %>
    <%= labeled_item :label => 'Seminarapparat', :content => "(#{media.sem_app.id}) #{link_to(sanitize(media.sem_app.full_title), sem_app_path(media.sem_app, :anchor => 'media'))}".html_safe %>
    <div class="no-print">
      <%= labeled_item :label => 'Auftrag von',  :content => scanjob.creator.present? ? "#{scanjob.creator.name} (#{scanjob.creator.login}), #{mail_to(scanjob.creator.email)}".html_safe : '-' %>
    </div>
    <%= labeled_item :label => 'Kommentar',      :content => media.comment %>
  </div>

  <div class="pui-view align-center">
    <%= image_tag admin_scanjob_barcode_path(scanjob) %>
    <div><code><%= scanjob.code %></code></div>
  </div>


  <% if scanjob.message.present? and (action_name == 'print_job' or action_name == 'print_list') %>
    <div style="margin-top: 30px; page-break-before: always">
      <h1>Nachricht zu Auftrag # <%= scanjob.id %></h1>
      <%= scanjob.message %>
    </div>
  <% end %>
</div>
