<h3 class="section">Scanauftr&auml;ge verwalten</h3>

<div class="pui-panel align-right">
  <%= link_to upload_admin_scanjobs_path, :class => "pui-button", :method => :put do %>
    <%= icon 'drive-upload.png' %>
    Fertige Scans hochladen
  <% end %>
</div>

<div class="pui-tabs-wrapper">
  <ul class="pui-tabs">
    <li>
      <a href="#ordered">
        <%= icon 'star.png' %>
        Neu
      </a>
    </li>
    <li>
      <a href="#accepted">
        <%= icon 'plus.png' %>
        In Bearbeitung
      </a>
    </li>
    <li>
      <a href="#deferred">
        <%= icon 'lock.png' %>
        Zur&uuml;ckgestellt
      </a>
    </li>
  </ul>

  <div class="pui-tab-panes">
    <div>
      <%= render 'listing', :scanjobs => @ordered_scanjobs, :list_name => 'ordered' %>
    </div>
    <div>
      <%= render 'listing', :scanjobs => @accepted_scanjobs, :list_name => 'accepted' %>
    </div>
    <div>
      <%= render 'listing', :scanjobs => @deferred_scanjobs, :list_name => 'deferred' %>
    </div>
  </div>
</div>
