<% form_for [:admin, @semester], :html => {:class => 'puiform'} do |f| %>
  <fieldset>
    <legend>Semester</legend>
    <ol>
      <li>
        <%= f.label      :current, "Aktuelles Semester?" %>
        <%= f.check_box  :current, :info_message => 'Dieses Semester ist das aktuelle Semester' %>
      </li>
      <li>
        <%= f.label      :title, "Titel" %>
        <%= f.text_field :title, :info_message => 'Beschreibender Titel des Semsters (z.B. Wintersemester 2009/2010)' %>
      </li>
      <li>
        <%= f.label      :permalink, "Permalink" %>
        <%= f.text_field :permalink, :info_message => 'Kurzbezeichnung für Web-Links (z.B. ss2008). Nur a-z, 0-9, keine Leerzeichen.' %>
      </li>
    </ol>
  </fieldset>
  <fieldset class="submit">
    <%= f.submit 'Speichern' %>
    <%= link_to 'Abbrechen', admin_semesters_path %>
  </fieldset>
<% end %>

