<% form_for [:admin, @semester], :html => {:class => 'puiform'} do |f| %>
  <fieldset>
    <legend>Semester</legend>
    <ol>
      <li>
        <div class="container">
          <%= f.check_box  :current %>
          <%= f.label      :current, "Aktuelles Semester?" %>
        </div>
      </li>
      <li>
        <%= f.label      :title, "Titel" %>
        <%= f.text_field :title %>
        <div class="pui-tooltip">
          Beschreibender Titel des Semsters (z.B. Wintersemester 2009/2010)
        </div>
      </li>
      <li>
        <%= f.label      :permalink, "Permalink" %>
        <%= f.text_field :permalink %>
        <div class="pui-tooltip">
          Kurzbezeichnung für Web-Links (z.B. ss2008). Nur a-z, 0-9, keine Leerzeichen.
        </div>
      </li>
    </ol>
  </fieldset>
  <fieldset class="submit">
    <%= f.submit 'Speichern' %>
    <%= link_to 'Abbrechen', admin_semesters_path %>
  </fieldset>
<% end %>

