<h3>Mein Konto bearbeiten</h3>

<% form_for @user, :action => 'edit', :html => {:class => 'puiform'} do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend>Login Daten</legend>
    <ol>
      <li>
        <%= f.label :login, "Login" %>
        <span><strong><%= @user.login %></strong></span>
      </li>
      <li>
        <%= f.label :password, "Passwort" %>
        <%= f.password_field :password %>
        <% unless @user.new_record? %>
          <div class="container" style="font-size: 90%; font-style: italic">
            Um das Passwort zu ändern geben Sie das neue Passwort
            bitte ein. Ansonsten lassen Sie die Felder bitte leer.
          </div>
        <% end %>
      </li>
      <li>
        <%= f.label :password_confirmation, "Passwort bestätigen" %>
        <%= f.password_field :password_confirmation %>
      </li>
    </ol>
  </fieldset>
  <fieldset>
    <legend>Persönliche Daten</legend>
    <ol>
      <li>
        <%= f.label :firstname, "Vorname" %>
        <%= f.text_field :firstname %>
      </li>
      <li>
        <%= f.label :lastname, "Nachname" %>
        <%= f.text_field :lastname %>
      </li>
      <li>
        <%= f.label :email, "E-Mail" %>
        <%= f.text_field :email %>
      </li>
    </ol>
  </fieldset>
  <fieldset class="submit">
    <%= f.submit "Login" %>
    <%= link_to 'Abbrechen', user_path %>
  </fieldset>
<% end %>