<h3>Ein neues Benutzerkonto einrichten</h3>

<% form_for @user, :url => user_path, :html => {:class => 'puiform'} do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend>Login Daten</legend>
    <ol>
      <li>
        <%= f.label :login, "Login*" %>
        <%= f.text_field :login %>
      </li>
      <li>
        <%= f.label :password, "Passwort*" %>
        <%= f.password_field :password %>
      </li>
      <li>
        <%= f.label :password_confirmation, "Passwort bestätigen*" %>
        <%= f.password_field :password_confirmation %>
      </li>
    </ol>
  </fieldset>
  <fieldset>
    <legend>Persönliche Daten</legend>
    <ol>
      <li>
        <%= f.label :firstname, "Vorname*" %>
        <%= f.text_field :firstname %>
      </li>
      <li>
        <%= f.label :lastname, "Nachname*" %>
        <%= f.text_field :lastname %>
      </li>
      <li>
        <%= f.label :email, "E-Mail*" %>
        <%= f.text_field :email %>
      </li>
    </ol>
  </fieldset>
  <div style="font-size: 90%">* Plfichtfelder</div>
  <fieldset class="submit">
    <%= f.submit "Konto einrichten" %>
    <%= link_to 'Abbrechen', root_path %>
  </fieldset>
<% end %>