<h3 class="section">Meine Seminarapparate</h3>

<div class="pui-view align-center">
  <%= icon 'asterisk.png' %>
  <i>Seminarapparate sind erst dann öffentlich sichtbar wenn sie durch die Universitätsbibliothek geprüft und freigeschaltet wurden.</i>
</div>

<% if @user.ownerships.present? %>
  <table class="pui-tableview">
    <thead>
      <tr>
        <th>Seminarapparat</th>
        <th>Aktion</th>
      </tr>
    </thead>
    <tbody>
      <% @user.ownerships.each_with_index do |owner, n| %>
        <% next unless owner.sem_app.present? %>
        <tr class="<%= (n % 2 == 0) ? 'even' : 'odd' -%>">
          <td>
            <strong><%= link_to h(owner.sem_app.title), sem_app_path(owner.sem_app) %></strong><br/>
            im <%= h(owner.sem_app.semester.title) %><br/>
            Tutor(en): <strong><%= h(owner.sem_app.tutors) %></strong><br/>
            <%= render 'shared_partials/sem_app_states', :sem_app => owner.sem_app %>
          </td>
          <th>
            <% link_to sem_app_path(owner.sem_app), :class => 'pui-button small' do %>
              <%= icon 'eye.png' %>
              Anzeigen
            <% end %>
          </th>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="pui-panel notice align-center">
    Sie haben noch keine Seminarapparate beantragt.<br/>
    <%= link_to '&raquo; Seminarapparat beantragen', new_sem_app_path %>
  </div>
<% end %>
