<%= semantic_form_for [@media, @file_attachment], :html => {:multipart => true} do |f| %>

  <%= f.inputs do %>
    <% if f.object.new_record?  %>
      <%= f.input :file, :label => 'Datei', :required => true %>
    <% else %>
      <%= f.input :file, :label => 'Datei', :required => false, :hint => 'Wenn Sie die vorhandene Datei ersetzen möchten, wählen Sie eine neue Datei aus. Ansonsten lassen Sie dieses Feld einfach leer.' %>
    <% end %>
    <%= f.input :description, :label => 'Beschreibung', :required => false, :input_html => {:rows => 5} %>
    <%= f.input :accepts_copyright, :as => :boolean, :required => false, :label => "Ich bestätige, dass ich mit der Bereitstellung dieser Datei nicht gegen geltendes Urheberrecht verstoße.<br/>#{link_to('Hinweise zum Urheberrecht', '#', :class => 'pui-overlay-trigger', :rel => '#legal-info')}".html_safe %>
  <% end %>

  <%= f.buttons do %>
    <%= f.commit_button 'Datei hochladen' %>
    <li class="commit">
      <%= link_to 'Abbrechen', sem_app_path(@file_attachment.media.sem_app, :anchor => 'media') %>
    </li>
  <% end %>
<% end %>
