<%
  copyright_label = "Die Datei-Inhalte unterliegen § 52a UrhG!<br/><br/>"
  if ApplicationSettings.instance.restrict_download_of_files_restricted_by_copyright
    copyright_label << "<p>Ist der Haken gesetzt, ist der Download für Studierende für diese Datei nicht möglich.</b></p>"
  else
    copyright_label << "<p>Ist der Haken gesetzt, ist der Download für Studierende für diese Datei ab dem 1.1.2017 nicht mehr möglich.</p>"
  end

  copyright_label << "<p>Unterliegen die Datei-Inhalte nicht § 52a UrhG können Sie den Haken entfernen und so den Download
    für Ihre Studierende ermöglichen.</p><p>Nicht § 52a UrhG unterliegende Dokumente sind z. B. (Vorlesungs-) Skripte, von Lehrenden selbst erstellte Unterrichtsmaterialien (Folien, Aufgaben, Lösungen), Protokolle, Literaturlisten sowie gemeinfreie Werke, d.h. Werke, deren Autorinnen/Autoren mehr als 70 Jahre tot sind, Werke mit freien Lizenzen (Open Access, Creative Commons-Lizenzen), Gesetzestexte, Urteile, Gesetzesbegründungen. Ebenfalls erlaubt sind Abbildungen und Fotos (können auch aus Schriftwerken entnommen sein), Werke der Musik oder Filmwerke. Für diese gilt weiter ein Gesamtvertrag, der die Vergütung pauschal regelt.</p>"
  copyright_label << '<p>Für weitere Informationen zu dem Thema <a href="https://www.ub.uni-paderborn.de/recherche/hinweise-zur-nutzung-der-elektronischen-angebote/52a-urhg/" target="_blank">klicken Sie bitte hier</a>.</p>'
%>

<%= semantic_form_for @file_attachment, url: polymorphic_path([@media, @file_attachment]), :html => {:multipart => true} do |f| %>
  <%= f.inputs do %>
    <% if f.object.new_record?  %>
      <%= f.input :file, :label => 'Datei', :required => true %>
    <% else %>
      <%= f.input :file, :label => 'Datei', :required => false, :hint => 'Wenn Sie die vorhandene Datei ersetzen möchten, wählen Sie eine neue Datei aus. Ansonsten lassen Sie dieses Feld einfach leer.' %>
    <% end %>
    <%= f.input :description, :label => 'Beschreibung', :required => false, :input_html => {:rows => 5} %>
    <%= f.input :restricted_by_copyright, :label => copyright_label.html_safe, wrapper_html: {class: "input-important"} %>
    <%= f.input :accepts_copyright, :as => :boolean, :required => false, :label => "Ich bestätige, dass ich mit der Bereitstellung dieser Datei für meine Studierenden nicht gegen geltendes Urheberrecht verstoße.<br/>#{link_to('Hinweise zum Urheberrecht', '#', :class => 'pui-overlay-trigger', :rel => '#legal-info')}".html_safe %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, label: 'Speichern' %>
    <li class="commit">
      <%= link_to 'Abbrechen', sem_app_path(@file_attachment.media.sem_app, :anchor => 'media') %>
    </li>
  <% end %>
<% end %>
