<% form_for [@sem_app, @book_order], :html => {:class => 'puiform'} do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend>Buch</legend>
    <ol>
      <li>
        <%= f.label      :book_signature, "Signatur*" %>
        <%= f.text_field :book_signature %>
      </li>
      <li>
        <%= f.label      :book_title, "Titel*" %>
        <%= f.text_field :book_title %>
      </li>
      <li>
        <%= f.label      :book_author, "Autor" %>
        <%= f.text_field :book_author %>
      </li>
      <li>
        <%= f.label      :book_year, "Erscheinungsjahr" %>
        <%= f.text_field :book_year, :size => 5 %>
      </li>
    </ol>
  </fieldset>
  <fieldset>
    <legend>Nachricht</legend>
    <ol>
      <li>
        <%= f.label     :message, "Ihre Nachricht an uns" %>
        <%= f.text_area :message, :rows => 5, :cols => 50 %>
      </li>
    </ol>
  </fieldset>
  <fieldset class="submit">
    <legend>Speichern</legend>
    <%= f.submit 'Speichern' %>
    <%= link_to 'Abbrechen', sem_app_book_orders_path(@sem_app) %>
  </fieldset>
<% end %>

