<% semantic_form_for @book, :url => sem_app_book_orders_path(@sem_app) do |f| %>
  <% f.inputs do %>
    <%= f.input :signature, :label => 'Signatur' %>
    <%= f.input :title,     :label => 'Titel' %>
    <%= f.input :author,    :label => 'Autor' %>
    <%= f.input :year,      :label => 'Erscheinungsjahr' %>
    <%= f.input :edition,   :label => 'Auflage' %>
  <% end %>

  <% f.buttons do %>
    <%= f.commit_button 'Speichern' %>
    <li>
      <%= link_to 'Abbrechen', sem_app_book_orders_path(@sem_app) %>
    </li>
  <% end %>
<% end %>

<span>* Pflichtfelder</span>
