<% form_for @sem_app_book_entry, :url => sem_app_book_orders_path(@sem_app), :html => {:class => 'puiform'} do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend>Buch</legend>
    <ol>
      <li>
        <%= f.label      :signature, "Signatur*" %>
        <%= f.text_field :signature %>
      </li>
      <li>
        <%= f.label      :title, "Titel*" %>
        <%= f.text_field :title %>
      </li>
      <li>
        <%= f.label      :author, "Autor" %>
        <%= f.text_field :author %>
      </li>
      <li>
        <%= f.label      :year, "Erscheinungsjahr" %>
        <%= f.text_field :year, :size => 5 %>
      </li>
    </ol>
  </fieldset>
  <fieldset class="submit">
    <legend>Speichern</legend>
    <%= f.submit 'Speichern' %>
    <%= link_to 'Abbrechen', sem_app_book_orders_path(@sem_app) %>
  </fieldset>
<% end %>

