<% unless book_orders.empty? %>
  <table class="pui-datagrid">
    <thead>
      <tr>
        <th>Neue Buchaufträge</th>
      </tr>
    </thead>
    <tbody>
      <% book_orders.each do |book_order| %>
        <tr>
          <td>
            <strong>(<%= h(book_order.book_signature) %>)</strong>
            <%= h(book_order.book_title) %><%= ', ' + h(book_order.book_author) if book_order.book_author.present? %><%= ', ' + h(book_order.book_year) if book_order.book_year.present? %><br/>
            Status:
            <% unless book_order.status_message.present? %>
              <strong>In Bearbeitung</strong><br/>
            <% else %>
              <strong><%= h(book_order.status_message) %></strong><br/>
            <% end %>
            Auftrag vom: <%= book_order.created_at.to_s(:long) %><br/>
            Ihre Nachricht an uns: <span style="font-style:italic"><%= h(book_order.message.present? ? book_order.message : '-') %></span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <% pui_panel :panel_style => 'highlight', :style => 'text-align: center' do %>
    <p>Aktuell sind <strong>keine</strong> neuen Buchaufträge offen.</p>
  <% end %>
<% end %>