<h3>Buchaufträge für eSeminarapparat '<%= h(@sem_app.title) %> (<%= h(@sem_app.semester.title) %>)'</h3>

<div class="pui-panel notice">
  <%= link_to('Neuer Buchauftrag', new_sem_app_book_order_path(@sem_app)) %>
</div>

<ul class="pui-tabbar tabs">
  <li><a href="#additions"><span>Neuaufträge</span></a></li>
  <li><a href="#removals"><span>Löschaufträge</span></a></li>
</ul>

<div class="panels">
  <div>
    <%= render 'listing', :entries => @additions %>
  </div>
  <div>
    <%= render 'listing', :entries => @removals %>
  </div>
</div>

<% content_for :header do %>
  <script type="text/javascript">
    jQuery(function() {
      /** Setup the tabbar */
      jQuery("ul.tabs").tabs("div.panels > div", {
        history: true
      });
    });
  </script>
<% end %>