<h3 class="section">Buch bearbeiten</h3>

<div class="pui-view">
  <%= render 'shared_partials/book_ref', :book => @book %>
</div>

<%= semantic_form_for [@sem_app, @book] do |f| %>
  <%= f.inputs do %>
    <%= f.input :comment, :label => 'Kommentar', :required => false %>
    <%= f.input :ebook_reference, :label => 'URL zum E-Book / Online-Resource', :required => false %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, label: 'Speichern' %>
    <li class="commit">
      <%= link_to 'Abbrechen', sem_app_path(@sem_app, :anchor => 'books') %>
    </li>
  <% end %>
<% end %>
