<h3 class="section">Buchaufträge</h3>

<div class="pui-panel align-right">
  <%= link_to('Neues Buch', new_sem_app_book_path(@sem_app), :class => 'pui-button') %>
  <%= link_to('Zurück', sem_app_path(@sem_app, :anchor => :books), :class => 'pui-button') %>
</div>

<div class="pui-tabs-wrapper">

  <ul class="pui-tabs">
    <li><a href="#additions">Bücher neu</a></li>
    <li><a href="#deferred">Bücher vorgemerkt</a></li>
    <li><a href="#removals">Bücher zurück</a></li>
  </ul>

  <div class="pui-tab-panes">
    <div>
      <%= render 'listing', :entries => @ordered_books %>
    </div>
    <div>
      <%= render 'listing', :entries => @deferred_books %>
    </div>
    <div>
      <%= render 'listing', :entries => @removed_books %>
    </div>
  </div>

</div>