<h3 class="section">
  <div style="float: left">
    Buchaufträge
  </div>

  <div class="align-right" style="margin-bottom: 5px">
    <%= link_to sem_app_path(@sem_app, :anchor => :books), :class => 'pui-button' do %>
      <%= icon 'arrow-curve-180-left.png' %>
      Zurück zum Seminarapparat
    <% end %>

    <%= link_to new_sem_app_book_path(@sem_app), :class => 'pui-button' do %>
      <%= icon 'overlay/book--plus.png' %>
      Neues Buch bestellen
    <% end %>
  </div>
</h3>

<div class="pui-panel">
  <p>
    <%= icon "asterisk.png" %>
    Bitte beachten Sie: Bücher die Sie bestellt haben, sind erst öffentlich sichtbar, wenn diese
    im Regal aufgestellt wurden. Dieser Vorgang kann sich bei Vormerkungen
    entsprechend verzögern. <strong>Einmal abgeschickte Bestellungen werden auf jeden Fall bearbeitet.</strong>
  </p>
  <p><strong>Bitte beachten Sie die Beschränkung von max. 40 Büchern pro Seminarapparat.</strong></p>
</div>

<div class="pui-tabs-wrapper">

  <ul class="pui-tabs">
    <li><a href="#additions"><%= icon 'overlay/book--plus.png' %> Bücher neu</a></li>
    <li><a href="#deferred"><%= icon 'overlay/book--exclamation.png' %> Bücher vorgemerkt</a></li>
    <li><a href="#removals"><%= icon 'overlay/book--minus.png' %> Bücher zurück</a></li>
  </ul>

  <div class="pui-tab-panes">
    <div>
      <%= render 'listing', :entries => @ordered_books %>
    </div>
    <div>
      <%= render 'listing', :entries => @deferred_books %>
    </div>
    <div>
      <%= render 'listing', :entries => @removed_books %>
    </div>
  </div>

</div>
