<h2 class="section">Buchaufträge</h2>

<div class="pui-panel align-right">
  <%= link_to('Neues Buch', new_sem_app_book_path(@sem_app), :class => 'pui-button') %>
  <%= link_to('Zurück', sem_app_path(@sem_app, :anchor => :books), :class => 'pui-button') %>
</div>

<div class="pui-view sem-app">
  <%= render 'sem_apps/title', :sem_app => @sem_app %>
</div>

<div class="pui-tabs-wrapper">

  <ul class="pui-tabs">
    <li><a href="#additions">Neuaufträge</a></li>
    <li><a href="#removals">Löschaufträge</a></li>
  </ul>

  <div class="pui-tab-panes">
    <div>
      <%= render 'listing', :entries => @additions %>
    </div>
    <div>
      <%= render 'listing', :entries => @removals %>
    </div>
  </div>

</div>