<h3 class="section">
  <div style="float: left">
    Buchauftr&auml;ge
  </div>

  <div class="align-right" style="margin-bottom: 5px">
    <% link_to sem_app_path(@sem_app, :anchor => :books), :class => 'pui-button' do %>
      <%= icon 'arrow-curve-180-left.png' %>
      Zur&uuml;ck zum Seminarapparat
    <% end %>

    <% link_to new_sem_app_book_path(@sem_app), :class => 'pui-button' do %>
      <%= icon 'overlay/book--plus.png' %>
      Neues Buch
    <% end %>
  </div>
</h3>

<div class="pui-panel">
  <p>
    <%= icon "asterisk.png" %>
    Bitte beachten Sie: Bücher die Sie bestellt haben, sind erst öffentlich sichtbar, wenn diese
    im Regal aufgestellt wurden. Dieser Vorgang kann sich bei Vormerkungen
    entsprechend verzögern.
  </p>
  <p><strong>Einmal abgeschickte Bestellungen werden auf jeden Fall bearbeitet.</strong></p>
</div>

<div class="pui-tabs-wrapper">

  <ul class="pui-tabs">
    <li><a href="#additions"><%= icon 'overlay/book--plus.png' %> B&uuml;cher neu</a></li>
    <li><a href="#deferred"><%= icon 'overlay/book--exclamation.png' %> B&uuml;cher vorgemerkt</a></li>
    <li><a href="#removals"><%= icon 'overlay/book--minus.png' %> B&uuml;cher zur&uuml;ck</a></li>
  </ul>

  <div class="pui-tab-panes">
    <div>
      <%= render 'listing', :entries => @ordered_books %>
    </div>
    <div>
      <%= render 'listing', :entries => @deferred_books %>
    </div>
    <div>
      <%= render 'listing', :entries => @removed_books %>
    </div>
  </div>

</div>