<h2 class="section">
  Ein neues Buch beauftragen :: Suche im Katalog
</h2>

<div class="pui-panel align-right">
  <%= link_to('Zurück', sem_app_books_path(@sem_app), :class => 'pui-button') %>
</div>

<div class="pui-view sem-app">
  <%= render 'sem_apps/title', :sem_app => @sem_app %>
</div>

<%= render 'lookup_form' %>

<% if @results.present? %>
  Gefundene Treffer: <strong><%= @total_results %></strong>
  <div class="pui-panel" style="padding: 0px">
    <%= will_paginate @results %>
  </div>

  <div class="pui-collection-view">
    <% @results.each do |r| %>
      <div class="item">
        <%= render 'shared_partials/book_ref', :book => r %>
        <div>
          <% form_tag(sem_app_books_path(@sem_app)) do %>
            <%= hidden_field_tag 'doc_number', r.doc_number %>
            <%= submit_tag 'Auswählen' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="pui-panel notice align-center">
    Keine Bücher gefunden.
  </div>
<% end %>