<h3 class="section">
  <div style="float: left">
    Ein Buch im Seminarapparat aufstellen lassen
  </div>

  <div class="align-right" style="margin-bottom: 5px">
    <% link_to sem_app_books_path(@sem_app), :class => 'pui-button' do %>
      <%= icon 'arrow-curve-180-left.png' %>
      Zur&uuml;ck
    <% end %>
  </div>
</h3>

<div class="pui-panel">
  <%= icon 'asterisk.png' %>
  Bücher die Sie hier bestellen, werden anschließend von Mitarbeitenden der Bibliothek
  im Regal des Seminarapparats aufgestellt. Bei Büchern die vorgemerkt werden müssen,
  kann sich der Bestellvorgang entsprechend verzögern.
</div>

<%= render 'lookup_form' %>

<% if @results.present? %>
  Gefundene Treffer: <strong><%= @total_results %></strong>
  <div class="pui-panel" style="padding: 0px">
    <%= will_paginate @results %>
  </div>

  <table class="pui-tableview">
    <thead>
      <tr>
        <th>Buch</th>
        <th>Aktion</th>
      </tr>
    </thead>
    <tbody>
      <% @results.each_with_index do |r, n| %>
        <tr class="<%= (n % 2 == 0) ? 'even' : 'odd' -%>">
          <td>
            <%= render 'shared_partials/book_ref', :book => r %>
          </td>
          <th>
            <% form_tag(sem_app_books_path(@sem_app)) do %>
              <%= hidden_field_tag 'doc_number', r.doc_number %>
              <%= submit_tag 'Ausw&auml;hlen', :class => 'pui-button small' %>
            <% end %>
          </th>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <% if @signature.present? %>
    <div class="pui-panel notice align-center">
      Keine B&uuml;cher gefunden.
    </div>
  <% end %>
<% end %>