<div class="section">
  <ul>
    <li><%= link_to('Zurück zur Startseite', sem_apps_path) %></li>
  </ul>

  <h3>&raquo; Administration</h3>
  <ul>
    <li><%= link_to('Seminarapparate', admin_sem_apps_path) %></li>
    <li><%= link_to('Regalübersicht', admin_book_shelves_path) %></li>
    <li><%= link_to('Scanaufträge', admin_scanjobs_path) %></li>
  </ul>

  <h3>&raquo; Systemverwaltung</h3>
  <ul>
    <li><%= link_to('Mailbenachrichtigung', new_admin_mailing_path) %></li>
    <li><%= link_to('Einstellungen', admin_application_settings_path) %></li>
  </ul>
</div>
