<% file_entry = entry.instance %>

<% form_for(file_entry,
  :url => sem_app_entry_path(entry.sem_app.id, entry.id),
  :html => {:id => "entry-form", :class => "puiform entry-form file"}) do |f| %>
  <%= hidden_field_tag :instance_type, entry.instance_type %>
  <%= f.error_messages %>
  <fieldset>
    <legend></legend>
    <ol>
      <li>
        <%= f.label      :attachment, "Datei" %>
        <%= f.file_field :attachment %>
      </li>
      <li>
        <%= f.label     :comment, "Kommentar" %>
        <%= f.text_area :comment, :rows => 5 %>
      </li>
    </ol>
  </fieldset>
<% end %>
