<% semantic_form_for entry, :url => form_url_for_entry(entry), :html => {:class => "ajax-form"} do |f| %>
  <%= hidden_field_tag :class, 'SemAppArticleScanjobEntry' %>
  <%= hidden_field_tag :origin_id, @origin_id %>

  <% unless entry.editable? %>
    <div class="pui-panel notice align-center">
      Der Scanauftrag wird aktuell durch die Bibliothek bearbeitet und kann durch Sie nicht bearbeitet werden.
    </div>
  <% else %>
    <div style="height: 400px; overflow: auto">
      <% f.inputs :name => "Scanauftrag" do %>
        <%= f.input :signature,    :label => 'Signatur in der Bibliothek', :hint => 'Bitte recherchieren Sie die Signatur mit dem <a href="https://ubaleph.uni-paderborn.de/F" target="blank">Katalog</a> der Bibliothek' %>
        <%= f.input :pages,        :label => 'Seiten von-bis', :required => true %>
        <%= f.input :scan_message, :label => 'Ihre Nachricht an uns', :input_html => {:rows => 1}, :required => false %>
      <% end %>

      <% f.inputs :name => "Angaben zum Artikel" do %>
        <%= f.input :author,   :label => 'Author(en)' %>
        <%= f.input :title,    :label => 'Titel', :input_html => {:rows => 1} %>
        <%= f.input :subtitle, :label => 'Untertitel', :input_html => {:rows => 1}, :required => false %>
      <% end %>

      <% f.inputs :name => "Angaben zur Zeitschrift" do %>
        <%= f.input :journal,  :label => 'Zeitschrift' %>
        <%= f.input :volume,   :label => 'Jahrgang' %>
        <%= f.input :year,     :label => 'Jahr' %>
        <%= f.input :issue,    :label => 'Heftnummer' %>
        <%= f.input :issn,     :label => 'ISSN', :required => false %>
      <% end %>
    </div>

    <% f.buttons do %>
      <% if entry.new_record?  %>
        <%= f.commit_button 'Scanauftrag aufgeben' %>
      <% else %>
        <%= f.commit_button 'Speichern' %>
      <% end %>
      <%#= f.commit_button 'Metadaten automatisch ausfüllen', :button_html => {:name => 'lookup_signature'} %>
    <% end %>
  <% end %>
<% end %>
