<% book_entry = entry.instance %>

<div class="book">
  <strong><%=h book_entry.title %> / <%=h book_entry.author %></strong><br/>
  <% if book_entry.edition %>
    <span><%= book_entry.edition %>.-</span>
  <% end %>
  <% if book_entry.place %>
    <span><%= book_entry.place %> :</span>
  <% end %>
  <% if book_entry.publisher %>
    <span><%= book_entry.publisher %>,</span>
  <% end %>
  <% if book_entry.year %>
    <span><%= book_entry.year %>.</span>
  <% end %>
  <% if book_entry.isbn %>
    <span>- ISBN <%= book_entry.isbn %></span>
  <% end %>
  <% if book_entry.signature %>
    <br/>
    <span>
      Signatur:
      <a href="https://ubaleph.uni-paderborn.de/F/?func=find-b&find_code=PSG&request=<%= book_entry.signature -%>?" target="_blank">
        <%= book_entry.signature -%> (Im Bibliothekskatalog anzeigen)
      </a>
    </span>
  <% end %>
  <% if book_entry.comment %>
    <br/>
    <span class="comment"><%= book_entry.comment %></span>
  <% end %>
</div>