<% semantic_form_for entry, :url => form_url_for_entry(entry), :html => {:class => "ajax-form"} do |f| %>
  <%= hidden_field_tag :class, 'SemAppMonographReferenceEntry' %>
  <%= hidden_field_tag :origin_id, @origin_id %>

  <div style="height: 330px; overflow: auto">

    <% f.inputs do %>
      <%= f.input :author,    :label => 'Author(en)' %>
      <%= f.input :title,     :label => 'Titel', :input_html => {:rows => 1} %>
      <%= f.input :subtitle,  :label => 'Untertitel', :input_html => {:rows => 1}, :required => false %>
      <%= f.input :year,      :label => 'Jahr', :required => false %>
      <%= f.input :place,     :label => 'Verlagsort', :required => false %>
      <%= f.input :publisher, :label => 'Verlag', :required => false %>
      <%= f.input :edition,   :label => 'Auflage', :required => false %>
      <%= f.input :isbn,      :label => 'ISBN', :required => false %>
      <%= f.input :url,       :label => 'Adresse im Internet', :required => false %>
    <% end %>

    <%= render 'attachment_fields', :form => f, :entry => entry %>

  </div>

  <% f.buttons do %>
    <%= f.commit_button 'Speichern' %>
  <% end %>
<% end %>
