<% form_for [:admin, @sem_app, @book_order], :html => {:class => 'puiform'} do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend>Buch</legend>
    <ol>
      <li>
        <%= f.label      :book_signature, "Signatur*" %>
        <%= f.text_field :book_signature, :disabled => true %>
      </li>
      <li>
        <%= f.label      :book_title, "Titel*" %>
        <%= f.text_field :book_title, :disabled => true %>
      </li>
      <li>
        <%= f.label      :book_author, "Autor" %>
        <%= f.text_field :book_author, :disabled => true %>
      </li>
      <li>
        <%= f.label      :book_year, "Erscheinungsjahr" %>
        <%= f.text_field :book_year, :size => 5, :disabled => true %>
      </li>
    </ol>
  </fieldset>
  <fieldset>
    <legend>Nachricht</legend>
    <ol>
      <li>
        <%= f.label     :message, "Nachricht vom Kunden" %>
        <%= f.text_area :message, :rows => 5, :cols => 50, :disabled => true %>
      </li>
      <li>
        <%= f.label     :status_message, "Status Nachricht" %>
        <%= f.text_area :status_message, :rows => 5, :cols => 50 %>
      </li>
    </ol>
  </fieldset>
  <fieldset class="submit">
    <legend>Speichern</legend>
    <%= f.submit 'Speichern' %>
    <%= link_to 'Abbrechen', admin_sem_app_book_orders_path(@sem_app) %>
  </fieldset>
<% end %>
