<% semantic_form_for [@sem_app, @entry] do |f| %>
  <%= hidden_field_tag :origin_id, @origin_id %>

  <% f.inputs do %>
    <%= f.input :author,   :label => 'Author(en)' %>
    <%= f.input :title,    :label => 'Titel', :input_html => {:rows => 1} %>
    <%= f.input :subtitle, :label => 'Untertitel', :input_html => {:rows => 1}, :required => false %>
    <%= f.input :journal,  :label => 'Zeitschrift', :required => false %>
    <%= f.input :volume,   :label => 'Jahrgang', :required => false %>
    <%= f.input :year,     :label => 'Jahr', :required => false %>
    <%= f.input :issue,    :label => 'Heftnummer', :required => false %>
    <%= f.input :pages,    :label => 'Seiten von-bis', :required => false %>
    <%= f.input :issn,     :label => 'ISSN', :required => false %>
  <% end %>

  <% f.buttons do %>
    <%= f.commit_button 'Speichern' %>
    <li class="commit">
      <%= link_to 'Abbrechen', sem_app_path(@entry.sem_app, :anchor => 'media') %>
    </li>
  <% end %>
<% end %>
