<div id="org_units_listing">
  <% if @org_units and not @org_units.empty?  %>
    <table class="pui-datagrid">
      <thead>
        <tr>
          <th></th>
          <th>Titel</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="org_units">
        <% @org_units.each do |o| %>
          <% content_tag_for(:tr, o) do %>
          <td class="drag_handle" nowrap="true">
            <span class="ui-icon ui-icon-grip-dotted-horizontal"></span>
          </td>
          <td width="100%">
            <%= h(o.title) %>
            (<%= o.count %>)
          </td>
          <td align="right" nowrap="true">
            <%= pui_link_icon 'Bearbeiten', 'pencil', edit_admin_org_unit_path(o) %>
            <% unless o.used? %>
              <%= pui_link_icon 'Löschen', 'trash', admin_org_unit_path(o), :method => :delete, :confirm => "Soll die Organisationseinheit wirklich gelöscht werden?" %>
            <% end  %>
          </td>
        <% end %>
      <% end %>
      </tbody>
    </table>
    <span style="font-size: 90%; font-style: italic">(Um die Reihenfolge der Einträge festzulegen ziehen Sie sie mit der Maus <span class="ui-icon ui-icon-grip-dotted-horizontal"></span>)</span>
  <% else %>
    <% pui_panel :panel_style => 'highlight', :style => 'text-align:center' do %>
      <p>
        Keine Organisationseinheiten eingerichtet.
      </p>
    <% end %>
  <% end %>
</div>

<%= sortable_element('org_units',
  :tag      => :tr,
  :handle   => :drag_handle,
  :ghosting => true,
  :url      => reorder_admin_org_units_path,
  :method   => :put) %>