<% if media.parent.file_attachments.present? %>
  <div class="pui-view">
    <ol class="attachments clearfix">
      <% media.parent.file_attachments.each do |a| %>
        <li class="attachment">
          <% if a.description.present? %>
            <span class="description">
              <%= textilize_without_paragraph(a.description).html_safe %>
            </span>
          <% end %>
          <span class="download-link">
            <%#= a.file_file_name %>
            <%= number_to_human_size(a.file_file_size) %>
            <% if a.updated_at.present? %>
              / letzte Änderung: <%= l(a.updated_at, :format => :short) %>
            <% end %>

            <% if can?(:download, a) %>
              <%= link_to '[Download]', a.file.url %>
            <% end %>
          </span>

          <span class="toolbar" style="display: none">
            <%= link_to file_attachment_path(a), :class => "toolbar-item", :method => :delete, :data => {:confirm => "Anhang wirklich löschen?"} do %>
              <%= icon 'cross.png' %>
            <% end %>
            <%= link_to edit_file_attachment_path(a), :class => "toolbar-item" do %>
              <%= icon 'wrench.png' %>
            <% end %>
          </span>

          <% if can?(:edit, @sem_app) %>
            <% if a.restricted_by_copyright %>
              <% if ApplicationSettings.instance.restrict_download_of_files_restricted_by_copyright %>
                <div><strong>Unterliegt §52a UrhG: Der Download für Studierende ist gesperrt!</strong></div>
              <% else %>
                <div><strong>Unterliegt §52a UrhG: Der Download für Studierende wird zum 1.1.2017 gesperrt!</strong></div>
              <% end %>
            <% else %>
              <div><strong>Unterliegt NICHT §52a UrhG. Der Download für Studierende ist jederzeit möglich!</strong></div>
            <% end %>
          <% end %>

          <% if cannot?(:download, a) %>
            <div><strong><%= link_to 'Download nicht möglich! Klicken für Info', '/info' %></strong></div>
          <% end %>
        </li>
      <% end %>
    </ol>
  </div>
<% end %>
