<% if media.parent.file_attachments.present? %>
  <div class="pui-view">
    <ol class="attachments clearfix">
      <% media.parent.file_attachments.each do |a| %>
        <li class="attachment">
          <% if a.description.present? %>
            <span class="description">
              <%= textilize_without_paragraph(a.description).html_safe %>
            </span>
          <% end %>
          <span class="download-link">
            <%#= a.file_file_name %>

            <% if can?(:download, a) %>
              <%= link_to a.file.url do %>
                <%= icon 'drive-download.png' %>
                Download
              <% end %>
            <% end %>
          </span>

          <span class="toolbar" style="display: none">
            <%= link_to file_attachment_path(a), :class => "toolbar-item", :method => :delete, :data => {:confirm => "Anhang wirklich löschen?"} do %>
              <%= icon 'cross.png' %>
            <% end %>
            <%= link_to edit_file_attachment_path(a), :class => "toolbar-item" do %>
              <%= icon 'wrench.png' %>
            <% end %>

            <div>
              <% if a.restricted_by_copyright %>
                <strong>Unterliegt § 60a UrhWissG bzw. § 60c UrhWissG</strong>
              <% else %>
                <strong>Unterliegt NICHT § 60a UrhWissG bzw. § 60c UrhWissG</strong>
              <% end %>
              / <%= number_to_human_size(a.file_file_size) %>
              <% if a.updated_at.present? %>
                / letzte Änderung: <%= l(a.updated_at, :format => "%d.%m.%Y, %H:%M Uhr") %>
              <% end %>
            </div>
          </span>

          <% if cannot?(:download, a) %>
            <div><strong>Download nicht möglich! <%= link_to 'Klicken Sie hier für weitere Infos.', 'https://www.ub.uni-paderborn.de/recherche/hinweise-zur-nutzung-der-elektronischen-angebote/60a-urhwissg/', target: "_blank" %></strong></div>
          <% end %>
        </li>
      <% end %>
    </ol>
  </div>
<% end %>
