<%= media_form do |f| %>
  <%= f.inputs do %>
    <%= f.input :author,     :label => 'Autor(en)',        as: :string, :required => false %>
    <%= f.input :title,      :label => 'Titel',            as: :string, :required => false %>
    <%= f.input :journal,    :label => 'Zeitschrift',      as: :string, :required => true %>
    <%= f.input :volume,     :label => 'Jahrgang',         as: :string, :required => false %>
    <%= f.input :year,       :label => 'Erscheinungsjahr', as: :string, :required => true %>
    <%= f.input :issue,      :label => 'Heftnummer',       as: :string, :required => false %>
    <%= f.input :pages_from, :label => 'Seiten von',       as: :string, :required => true %>
    <%= f.input :pages_to,   :label => 'Seiten bis',       as: :string, :required => true %>
    <%= f.input :issn,       :label => 'ISSN',             as: :string, :required => false %>
    <%= f.input :signature,  :label => 'Signatur in der Bibliothek', as: :string, :required => false, :hint => 'Wenn Sie hier die Signatur der Bibliothek angeben (sofern vorhanden), verlinken wir diesen Eintrag automatisch mit unserem Katalog. Bitte recherchieren Sie die Signatur mit unserem <a href="https://katalog.ub.uni-paderborn.de" target="blank">Katalog</a>'.html_safe %>
  <% end %>

  <%= f.inputs :name => 'Kommentar' do %>
    <%= f.input :comment, :label => 'Kommentar', :input_html => {:rows => 5}, :required => false %>
  <% end %>
<% end %>
