<li id="sem_app_entry_<%=entry.id-%>" class="sem-app-entry">
  <!-- The toolbar -->
  <div id="sem_app_entry_<%=entry.id-%>_toolbar" class="toolbar" style="display: none;">
    <!-- move -->
    <% if toolbar and toolbar.include?(:move) %>
      <%= link_to('ui-icon-carat-2-n-s', '#', :class => 'toolbar-item move') %>
    <% end %>

    <!-- edit -->
    <% if toolbar and toolbar.include?(:edit) %>
      <%= link_to_remote('ui-icon-pencil', :url => edit_sem_app_entry_url(sem_app.id, entry.id), :method => :get) %>
    <% end %>

    <!-- delete -->
    <% if toolbar and toolbar.include?(:delete) %>
      <%= link_to('ui-icon-trash', '#', :class => 'toolbar-item delete') %>
    <% end %>

    <!-- add (below) -->
    <% if toolbar and toolbar.include?(:add) %>
      <%= link_to('ui-icon-plus', '#', :class => 'toolbar-item add') %>
    <% end %>
  </div>

  <!-- Confirmation panel (delete entry) -->
  <div id="sem_app_entry_<%=entry.id-%>_confirmation_panel_delete" class="confirmation-panel delete" style="display: none;">
    <p><strong>Diesen Eintrag wirklich löschen?</strong></p>
    <%= link_to_remote('Löschen!', :url => sem_app_entry_url(sem_app.id, entry.id), :method => :delete) %>
    <%= link_to('Abbrechen!', '#', :class => 'delete-cancel') %>
  </div>

  <!-- Confirmation panel (add entry below) -->
  <div id="sem_app_entry_<%=entry.id-%>_confirmation_panel_add" class="confirmation-panel add" style="display: none;">
    <% remote_form_for :entry, :url => new_sem_app_entry_path(sem_app.id), :method => :get do |f| %>
      <p>
        <select name="instance_type">
          <option value="SemAppHeadlineEntry">Überschrift</option>
          <option value="SemAppWeblinkEntry">Link</option>
          <option value="SemAppTextEntry">Text</option>
        </select>
      </p>
      <%= hidden_field_tag :buddy_entry_id, entry.id %>
      <%= f.submit "Erstellen" %>
      <%= link_to('Abbrechen!', '#', :class => 'add-cancel') %>
    <% end %>
  </div>

  <!-- The content of the entry -->
  <div id="sem_app_entry_<%=entry.id-%>_content">
    <%= render_sem_app_entry(entry) %>
  </div>
</li>