<% if can?(:edit, @sem_app) %>
  <div class="pui-view align-right">
    <% link_to sem_app_books_path(@sem_app), :class => 'pui-button' do %>
      <%= icon 'books-stack.png' %>
      B&uuml;cher verwalten
    <% end %>
  </div>
<% end %>

<% if @sem_app.has_book_shelf_ref? %>
  <div class="pui-panel align-center">
    <% sem_app = @sem_app.book_shelf_ref.sem_app_ref %>
    <%= icon 'asterisk.png' %>
    Sie finden weitere B&uuml;cher in dem Seminarapparat <strong><%= link_to(h(sem_app.full_title), sem_app_path(sem_app)) %></strong>
  </div>
<% end %>

<% if @books.present? %>
  <% if @sem_app.is_from_current_semester? %>
    <% if @sem_app.has_book_shelf? %>
      <div class="pui-panel align-center">
        <%= icon 'asterisk.png' %>
        Wenn nicht anderes vermerkt finden Sie die folgenden B&uuml;cher in der <strong><%= h(@sem_app.location.title) %></strong> im
        Seminarapparat <strong>Nr. <%= h(@sem_app.book_shelf.slot_number) %></strong>
      </div>
    <% else %>
      <div class="pui-panel align-center">
        <%= icon 'asterisk.png' %>
        Wenn nicht anderes vermerkt finden Sie die folgenden B&uuml;cher im regulären Bestand.
      </div>
    <% end %>
  <% end %>

  <div id="books-listing" class="listing">
    <% @books.each do |book| %>

      <%# cache(book.cache_key) do %>
        <%= render 'book', :book => book, :sem_app => @sem_app %>
      <%# end %>

    <% end %>
  </div>
<% else %>
  <div class="pui-panel align-center">
    <%= icon 'asterisk.png' %>
    F&uuml;r diesen Seminarapparat sind aktuell <strong>keine</strong> B&uuml;cher gelistet.
  </div>
<% end %>