<% if @sem_app.is_editable_for?(current_user) %>
  <div class="pui-view align-right">
    <% link_to sem_app_books_path(@sem_app), :class => 'pui-button' do %>
      <%= icon 'books-stack.png' %>
      B端cher verwalten
    <% end %>
  </div>
<% end %>

<% if @books.present? %>
  <% if @sem_app.has_book_shelf? %>
    <div class="pui-panel align-center">
      <%= icon 'asterisk.png' %>
      Sie finden die folgenden B端cher in der <strong><%= h(@sem_app.location.title) %></strong> im
      Seminarapparat <strong>Nr. <%= h(@sem_app.book_shelf.slot_number) %></strong>
    </div>
  <% end %>

  <div id="books-listing" class="listing">
    <% @books.each do |book| %>
      <%= render 'book', :book => book, :sem_app => @sem_app %>
    <% end %>
  </div>
<% else %>
  <div class="pui-panel notice align-center">
    F端r diesen Seminarapparat sind aktuell <strong>keine</strong> B端cher gelistet.
  </div>
<% end %>