<div id="book-<%=book.id-%>" class="item">
  
  <div class="toolbar-wrapper" style="display: none">
    <div class="toolbar" style="display: none">
      <% link_to sem_app_book_path(book.sem_app, book), :class => "toolbar-item delete-book-action" do %>
        <%= image_tag 'icons/cross-circle-frame.png', :plugin => 'pui', :title => 'Dieses Buch aus dem Seminarapparat entfernen' %>
      <% end %>
      <% link_to edit_sem_app_book_path(book.sem_app, book), :class => "toolbar-item edit-book-action" do %>
        <%= image_tag 'icons/wrench.png', :plugin => 'pui', :title => 'Bearbeiten / Kommentieren' %>
      <% end %>
    </div>
  </div>

  <div class="book">
    <%= render 'shared_partials/book_ref', :book => book %>

    <% if book.placeholder? %>
      <p>
        <%= icon 'asterisk.png' %>
        <% if book.placeholder.book_shelf.present? %>
          <i>Dieses Exemplar finden Sie in der <strong><%= h(book.placeholder.location.title) %></strong> im
            Seminarapparat <strong>Nr. <%= h(book.placeholder.book_shelf.slot_number) %></strong></i>
        <% else %>
          <i>Dieses Exemplar finden Sie in einem anderen Seminarapparat.</i>
        <% end %>
      </p>
    <% end %>

    <% if book.signature.present? %>
      <div>
        Signatur: <%= book.base_signature -%>
        <% link_to "https://ubaleph.uni-paderborn.de/F/?func=find-b&find_code=PSG&request=#{book.base_signature}?" do %>
          &raquo; Im Bibliothekskatalog anzeigen
        <% end %>
      </div>
    <% end %>

    <% if book.isbn.present? %>
      <div>
        Dieses Buch bei:
        <%= link_to 'Amazon.de', "http://www.amazon.de/dp/#{book.isbn.gsub('-', '')}" %>,
        <%= link_to 'Google Books', "http://books.google.com/books?as_isbn=#{book.isbn.gsub('-', '')}" %>
      </div>
    <% end %>

    <% if book.comment.present? %>
      <div class="comment">
        <%= book.comment %>
      </div>
    <% end %>
  </div>
</div>