<div id="entry-<%=entry.id-%>" class="item">
  <% if entry.sem_app.is_editable_for?(current_user) %>
    <div class="toolbar">
      <ul class="dropdown toolbar-item">
        <li class="trigger">
          <%= image_tag('icons/plus-circle-frame.png', :plugin => 'pui', :title => 'Einen neuen Eintrag unterhalb dieses Eintrags erstellen') %>
          <%= render 'sem_apps/entry_dropdown_panel', :origin_id => entry.id, :inline_style => 'display: none' %>
        </li>
      </ul>

      <% link_to edit_sem_app_entry_path(entry.sem_app, entry), :class => "toolbar-item edit-entry-action" do %>
        <%= image_tag 'icons/wrench.png', :plugin => 'pui', :title => 'Diesen Eintrag bearbeiten' %>
      <% end %>

      <% link_to sem_app_entry_path(entry.sem_app, entry), :class => "toolbar-item delete-entry-action" do %>
        <%= image_tag 'icons/cross-circle-frame.png', :plugin => 'pui', :title => 'Diesen Eintrag entfernen' %>
      <% end %>

      <% link_to reorder_sem_app_entries_path(entry.sem_app), :class => "toolbar-item reorder-entry-action" do %>
        <%= image_tag 'icons/arrow-move.png', :plugin => 'pui', :title => 'Diese Eintrag mittels Drag&Drop umsortieren' %>
      <% end %>
    </div>
  <% end %>

  <div class="entry">
    <%= render partial_path_for_entry(entry), :entry => entry %>
  </div>
</div>