<div id="sem-app-entry-<%=entry.id-%>" class="sem-app-entry">
  <% if entry.sem_app.editable? %>
    <div class="toolbar">
      <% if entry.instance_type == "SemAppBookEntry" %>
        <!-- toolbar for books -->
        <%= link_to 'Löschen', sem_app_entry_path(entry.sem_app, entry), :class => "toolbar-item delete-book-entry-action" %>
      <% else %>
        <!-- toolbar for media entries -->
        <span class="toolbar-item move">Move</span>
        <%= link_to 'Löschen', sem_app_entry_path(entry.sem_app, entry), :class => "toolbar-item delete-media-entry-action" %>
        <%= link_to 'Bearbeiten', edit_sem_app_entry_path(entry.sem_app, entry), :class => "toolbar-item edit-media-entry-action" %>
      <% end %>
    </div>
  <% end %>

  <div id="sem-app-entry-<%=entry.id-%>-content">
    <%= render_sem_app_entry(entry) %>
  </div>
</div>