<ul style="<%=inline_style%>">
  <li>
    <h4><%= link_to "Überschrift", new_sem_app_headline_entry_path(@sem_app, :origin_id => origin_id) %></h4>
    <div>
      hgfhgf
    </div>
  </li>
  <li>
    <%= link_to "Text", new_sem_app_text_entry_path(@sem_app, :origin_id => origin_id) %>
  </li>
  <li>
    <%= link_to "Monographie", new_sem_app_monograph_entry_path(@sem_app, :origin_id => origin_id) %>
  </li>
  <li>
    <%= link_to "Zeitschriftenartikel", new_sem_app_article_entry_path(@sem_app, :origin_id => origin_id) %>
  </li>
  <li>
    <%= link_to "Beitrag in einem Sammelwerk", new_sem_app_collected_article_entry_path(@sem_app, :origin_id => origin_id) %>
  </li>
</ul>