<div id="filter-panel" class="pui-overlay">
  <h3 class="section">Seminarapparate Suchen</h3>

  <%= form_tag(filter_path, :class => 'formtastic') do %>
    <fieldset class="inputs">
      <ol>
        <% if filter_for.include?(:semester_id) %>
          <li class="string">
            <label>Semester</label>
            <%= collection_select(:filter, :semester_id, Semester.order('position ASC'), :id, :title, {:include_blank => "Alle"}, {:style => 'width: 195px'}) %>
          </li>
        <% end %>

        <% if filter_for.include?(:location_id) %>
          <li class="string">
            <label>Standort</label>
            <%= collection_select(:filter, :location_id, Location.all, :id, :title, {:include_blank => "Alle"}, {:style => 'width: 195px'}) %>
          </li>
        <% end %>

        <% if filter_for.include?(:title) %>
          <li class="string">
            <label>Titel</label>
            <%= text_field_tag "filter[title]", @filter.title, {:style => 'width: 190px'} %>
          </li>
        <% end %>

        <% if filter_for.include?(:tutors) %>
          <li class="string">
            <label>Dozent</label>
            <%= text_field_tag "filter[tutors]", @filter.tutors, {:style => 'width: 190px'}  %>
          </li>
        <% end %>

        <% if filter_for.include?(:slot_number) %>
          <li class="string">
            <label>Seminarapparat Nr.</label>
            <%= text_field_tag "filter[slot_number]", @filter.slot_number, {:style => 'width: 190px'}  %>
          </li>
        <% end %>
      </ol>
    </fieldset>
    <fieldset class="buttons">
      <ol>
        <li class="commit">
          <%= submit_tag 'Suchen' %>
        </li>
      </ol>
    </fieldset>
  <% end %>
</div>

<div id="filter-info-panel" class="pui-panel align-right">
  <p>
    Anzahl der Seminarapparate: <%= @sem_apps.count %>

    <% if @filtered %>
      <strong>(Gefiltert)</strong>
      <% filter_strings = [] %>

      <% if filter_for.include?(:semester_id) %>
        <% filter_strings << "Semester = '#{Semester.find(@filter.semester_id).title}'" if @filter.semester_id %>
      <% end %>

      <% if filter_for.include?(:location_id) %>
        <% filter_strings << "Standort = '#{Location.find(@filter.location_id).title}'" if @filter.location_id %>
      <% end %>

      <% if filter_for.include?(:title) %>
        <% filter_strings << "Titel = '#{@filter.title}'" if @filter.title %>
      <% end %>

      <% if filter_for.include?(:tutors) %>
        <% filter_strings << "Dozent(en) = '#{@filter.tutors}'" if @filter.tutors %>
      <% end %>

      <% if filter_for.include?(:slot_number) %>
        <% filter_strings << "Seminarapparat Nr. = '#{@filter.slot_number}'" if @filter.slot_number %>
      <% end %>

      <%= filter_strings.join(", ") %>
    <% else %>
      <strong>(Gesamt)</strong>
    <% end %>
  </p>
  <div>
    <% if @filtered %>
      <a href="#" rel="#filter-panel" class="pui-overlay-trigger pui-button">
        <%= icon 'ui-search-field.png' %>
        Suche ändern
      </a>
      <%= link_to 'Zurücksetzen', filter_path, :method => :post %>
    <% else %>
      <a href="#" rel="#filter-panel" class="pui-overlay-trigger pui-button">
        <%= icon 'ui-search-field.png' %>
        Suchen
      </a>
    <% end %>
  </div>
</div>
