<% if actions.include?(:clone) %>
  <div class="pui-view align-center">
    <%= icon 'asterisk.png' %>
    <i>
      Wenn Sie nach einem <strong>Passwort</strong> gefragt werden, geben sie bitte die
      Dozenten-Kennung aus dem alten System für E-Seminarapparate ein,
      welches sie damals bei der Beantragung festgelegt haben.
    </i>
  </div>
<% end %>

<% if sem_apps.present? %>
  <table class="pui-tableview">
    <thead>
      <tr>
        <th>Seminarapparat</th>
        <th>Aktion</th>
      </tr>
    </thead>
    <tbody>
      <% sem_apps.each_with_index do |sem_app, n| %>
        <tr class="<%= (n % 2 == 0) ? 'even' : 'odd' -%>">
          <td>
            <strong><%= link_to sem_app.title, sem_app_path(sem_app) %></strong><br/>
            im <%= sem_app.semester.title %><br/>
            Dozent(en): <strong><%= sem_app.tutors %></strong><br/>
            <% if sem_app.book_shelf.present? && sem_app.semester == Semester.current %>
              Standort: <%= sem_app.location.title %>
              (Seminarapparat Nr. <%= sem_app.book_shelf.slot_number %>)
            <% end %>
          </td>
          <th>
            <% if actions.include?(:clone) and @sem_app != sem_app %>
              <%= form_tag clone_sem_app_path do %>
                <%= hidden_field_tag 'source', sem_app.id %>
                <% if cannot?(:edit, sem_app) %>
                  Passwort:
                  <%= password_field_tag 'password', '', :size => 10 %>
                <% end %>
                <%= submit_tag 'Klonen' %>
              <% end %>
            <% end %>

            <% if actions.include?(:show) %>
              <%= link_to sem_app_path(sem_app), :class => 'pui-button small' do %>
                <%= icon 'eye.png' %>
                Anzeigen
              <% end %>
            <% end %>
          </th>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="pui-panel notice align-center">
    Es wurden <strong>keine</strong> Seminarapparate gefunden.
  </div>
<% end %>

<% sem_apps.each do |sem_app| %>
  <div id="transit-panel-<%=sem_app.id-%>" class="pui-overlay align-left">
    <h3 class="section">Seminarapparat kopieren</h3>

    <%= form_tag(sem_app_transit_path(sem_app), :class => 'formtastic') do %>
      <fieldset class="inputs">
        <ol>
          <li class="string">
            <label>Titel</label>
            <div><%= sem_app.title %></div>
          </li>
          <li class="boolean optional">
            <label for="import_media">
              <input type="checkbox" value="0" name="import_media"/>
              Daten übernehmen?
            </label>
          </li>
        </ol>
      </fieldset>
      <fieldset class="buttons">
        <ol>
          <li class="commit">
            <%= submit_tag 'In das aktuelle Semester übernehmen' %>
          </li>
        </ol>
      </fieldset>
    <% end %>
  </div>
<% end %>

