<% if can?(:edit, @sem_app) %>
  <% if @media.present? %>
    <div class="pui-view align-center" style="font-size:90%">
      <%= icon 'asterisk.png' %>
      <i>Zum <strong>Erstellen</strong> oder <strong>Bearbeiten</strong> fahren Sie mit der Maus &uuml;ber die Eintr&auml;ge um weitere Optionen zu sehen.</i>
    </div>
  <% end %>
  <div class="pui-view align-right">
    <%= link_to clones_sem_app_path(@sem_app), :class => 'pui-button' do %>
      <%= icon 'document-copy.png' %>
      Alte Daten Klonen
    <% end %>
    <%= link_to clear_sem_app_path(@sem_app), :class => 'pui-button', :method => :delete, :confirm => 'Wollen Sie wirklich ALLE Einträge unwiederruflich löschen? Dieser Vorgang kann nicht Rückgängig gemacht werden!' do %>
      <%= icon 'cross.png' %>
      Alle Einträge löschen
    <% end %>
  </div>
<% end %>

<div id="media-listing" class="listing">
  <% if @media.present? %>
    <% if @sem_app.is_unlocked_in_session?(session) or can?(:edit, @sem_app) %>
      <% @media.each do |entry| %>

        <% if entry.to_be_published %>
          <% if can?(:edit, @sem_app) %>
            <%= render 'entry', :entry => entry %>
          <% end %>
        <% else %>
          <% cache("#{entry.cache_key}") do %>
            <%= render 'entry', :entry => entry %>
          <% end %>
        <% end %>

      <% end %>
    <% else %>
      <%= render 'unlock_panel' %>
    <% end %>
  <% else %>
    <div class="pui-panel align-center">
      <%= icon 'asterisk.png' %>
      F&uuml;r diesen Seminarapparat sind hier aktuell <strong>keine</strong> Inhalte verf&uuml;gbar.
    </div>

    <% if can?(:edit, @sem_app) %>
      <div class="pui-view align-center">
        <%= link_to new_sem_app_entry_path(@sem_app, :format => 'js'), :class => 'pui-button new-entry-action' do %>
          <%= icon 'plus.png' %>
          Einen neuen Eintrag erstellen
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="pui-overlay" id="new-entry-panel" style="display:none"></div>