<div id="media-listing" class="listing pui-collection-view">
  <% if @media.present? %>
    <% if @sem_app.is_unlocked_in_session?(session) or @sem_app.is_editable_for?(current_user) %>
      <% @media.each do |entry| %>
        <%= render 'entry', :entry => entry %>
      <% end %>
    <% else %>
      <div class="pui-panel notice">
        <p>
          Texte und Medien sind urheberrechtlich geschützt. Sie müssen
          diesen eSeminarapparat zunächst mittels der <strong>Kennung für den Lesezugriff</strong>
          freischalten.
        </p>
        
        <p>
          Diese Kennung erhalten Sie in der Regel von den Tutoren.
        </p>

        <% form_tag unlock_sem_app_path do %>
          <%= label_tag 'shared_secret', 'Kennung für den Lesezugriff:' %>
          <%= password_field_tag 'shared_secret' %>
          <%= submit_tag "Freischalten" %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div id="no-entries-message" class="pui-panel notice align-center">
      Für diesen eSeminarapparat sind hier aktuell <strong>keine</strong> Inhalte verfügbar.
    </div>

    <% if @sem_app.is_editable_for?(current_user) %>
      <div id="dummy-entry" class="item no-hover">
        <h1>Erstellen Sie einen neuen Eintrag</h1>
        <%= render 'sem_apps/entry_dropdown_panel', :origin_id => nil, :inline_style => nil %>
      </div>
    <% end %>
  <% end %>
</div>

<% if @sem_app.is_editable_for?(current_user) %>
  <div class="pui-overlay" id="entry-editor-panel">
    <h2 class="section heading">Eintrag Bearbeiten</h2>
    <div class="content" style="overflow: auto"></div>
  </div>
<% end %>