<div id="media-listing" class="listing">
  <% if @media.present? %>
    <% if @sem_app.is_unlocked_in_session?(session) or @sem_app.is_editable_for?(current_user) %>
      <% @media.each do |entry| %>
        <%= render 'entry', :entry => entry %>
      <% end %>
    <% else %>
      <div class="pui-panel notice">
        <p>
          Texte und Medien sind urheberrechtlich geschützt. Sie müssen
          diesen eSeminarapparat zunächst mittels der <strong>Kennung für den Lesezugriff</strong>
          freischalten.
        </p>

        <p>
          Diese Kennung erhalten Sie in der Regel von den Tutoren.
        </p>

        <% form_tag unlock_sem_app_path do %>
          <%= label_tag 'shared_secret', 'Kennung für den Lesezugriff:' %>
          <%= password_field_tag 'shared_secret' %>
          <%= submit_tag "Freischalten" %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div id="no-entries-message" class="pui-panel notice align-center">
      Für diesen eSeminarapparat sind hier aktuell <strong>keine</strong> Inhalte verfügbar.
    </div>

    <% if @sem_app.is_editable_for?(current_user) %>
      <div id="dummy-entry" class="item no-hover">
        <h1>Erstellen Sie einen neuen Eintrag</h1>
        <%= render 'sem_apps/entry_dropdown_panel', :origin_id => nil, :inline_style => nil %>
      </div>
    <% end %>
  <% end %>
</div>

<% if @sem_app.is_editable_for?(current_user) %>
  <div class="pui-overlay" id="entry-type-panel">
    <h3 class="section">Wählen Sie bitte aus...</h3>
    <ol>
      <li>
        <h5><%= link_to "Überschrift", new_sem_app_headline_entry_path(@sem_app, :origin_id => nil) %></h5>
        <div class="info">
          Mit Überschriften können Sie Ihren eSeminarapparates strukturieren.
        </div>
      </li>
      <li>
        <h5><%= link_to "Text / HTML", new_sem_app_text_entry_path(@sem_app, :origin_id => nil) %></h5>
        <div class="info">
          Mit diesem Element können Sie beliebigen Text darstellen. Sie können den Text mit einer Wiki-ähnlichen
          Spache Formatieren oder HTML verwenden. Die können dieses Element verwenden, um Inhalte aus anderen
          Systemen wie <a href="http://youtube.de">YouTube</a>, <a href="http://slideshare.com">Slideshare</a>,
          oder <a href="http://flickr.com">Flickr</a> einzubinden.<br/>
          Sie können an jeden Texteintrag Dateien anhängen.
        </div>
      </li>
      <li>
        <h5><%= link_to "Verweis auf eine Monographie", new_sem_app_monograph_entry_path(@sem_app, :origin_id => nil) %></h5>
        <div class="info">
          Verwenden Sie diesen Eintrag um eine Quellenangabe zu einer Mongogrphie aufzunehmen. Sie können selbst 
          PDF-Dateien anhängen oder einzelne Kapitel durch die Bibliothek Scannen lassen (wenn im Bestand vorhanden).
        </div>
      </li>
      <li>
        <h5><%= link_to "Verweis auf einen Zeitschriftenartikel", new_sem_app_article_entry_path(@sem_app, :origin_id => nil) %></h5>
        <div class="info">
          Verwenden Sie diesen Eintrag um eine Quellenangabe zu einem Zeitschriftenartikel aufzunehmen. Sie können 
          selbst PDF-Dateien anhängen oder den Artikel durch die Bibliothek Scannen lassen (wenn im Bestand vorhanden).
        </div>
      </li>
      <li>
        <h5><%= link_to "Verweis auf einen Beitrag in einem Sammelwerk", new_sem_app_collected_article_entry_path(@sem_app, :origin_id => nil) %></h5>
        <div class="info">
          Verwenden Sie diesen Eintrag um eine Quellenangabe zu einem Beitrag in einem Sammelwerk aufzunehmen. Sie können
          selbst PDF-Dateien anhängen oder den Beitrag durch die Bibliothek Scannen lassen (wenn im Bestand vorhanden).
        </div>
      </li>
    </ol>
  </div>
<% end %>

