<div>
  <h3 class="section">W&auml;hlen Sie bitte aus...</h3>
  <ol>
    <li>
      <h5><%= link_to "Überschrift", new_sem_app_headline_entry_path(sem_app, :origin_id => origin_id) %></h5>
      <div class="info">
        Mit &Uuml;berschriften können Sie Ihren Seminarapparat strukturieren.
      </div>
    </li>
    <li>
      <h5><%= link_to "Text / HTML", new_sem_app_text_entry_path(sem_app, :origin_id => origin_id) %></h5>
      <div class="info">
        Mit diesem Element können Sie einen <strong>beliebigen Text (HTML)</strong> einstellen.
        Sie können anschließend an jeden Texteintrag <strong>Dateien anh&auml;ngen</strong> und zum <strong>Download</strong> bereitstellen.
      </div>
    </li>
    <li>
      <h5><%= link_to "Verweis auf eine Monographie / Scanauftrag", new_sem_app_monograph_entry_path(sem_app, :origin_id => origin_id) %></h5>
      <div class="info">
        Verwenden Sie diesen Eintrag um eine Quellenangabe zu einer Mongographie aufzunehmen. Sie können anschließend selbst
        <strong>Dateien anh&auml;ngen</strong> oder einzelne Kapitel durch die Bibliothek <strong>scannen</strong> lassen (wenn im Bestand vorhanden).
      </div>
    </li>
    <li>
      <h5><%= link_to "Verweis auf einen Zeitschriftenartikel / Scanauftrag", new_sem_app_article_entry_path(sem_app, :origin_id => origin_id) %></h5>
      <div class="info">
        Verwenden Sie diesen Eintrag, um eine Quellenangabe zu einem Zeitschriftenartikel aufzunehmen. Sie können anschließend selbst
        <strong>Dateien anh&auml;ngen</strong> oder einzelne Kapitel durch die Bibliothek <strong>scannen</strong> lassen (wenn im Bestand vorhanden).
      </div>
    </li>
    <li>
      <h5><%= link_to "Verweis auf einen Beitrag in einem Sammelwerk / Scanauftrag", new_sem_app_collected_article_entry_path(sem_app, :origin_id => origin_id) %></h5>
      <div class="info">
        Verwenden Sie diesen Eintrag, um eine Quellenangabe zu einem Beitrag in einem Sammelwerk aufzunehmen. Sie können anschließend selbst
        <strong>Dateien anh&auml;ngen</strong> oder einzelne Kapitel durch die Bibliothek <strong>scannen</strong> lassen (wenn im Bestand vorhanden).
      </div>
    </li>
  </ol>
</div>