<div class="pui-overlay" id="<%="entry-type-panel-#{entry_id || '0'}"-%>" style="display:none">
  <h3 class="section">Wählen Sie bitte aus...</h3>
  <ol>
    <li>
      <h5><%= link_to "Überschrift", new_sem_app_headline_entry_path(sem_app, :origin_id => entry_id) %></h5>
      <div class="info">
        Mit Überschriften können Sie Ihren Seminarapparates strukturieren.
      </div>
    </li>
    <li>
      <h5><%= link_to "Text / HTML", new_sem_app_text_entry_path(sem_app, :origin_id => entry_id) %></h5>
      <div class="info">
        Mit diesem Element können Sie beliebigen Text darstellen. Sie können den Text mit einer Wiki-ähnlichen
        Spache Formatieren oder HTML verwenden. Die können dieses Element verwenden, um Inhalte aus anderen
        Systemen wie <a href="http://youtube.de">YouTube</a>, <a href="http://slideshare.com">Slideshare</a>,
        oder <a href="http://flickr.com">Flickr</a> einzubinden.<br/>
        Sie können an jeden Texteintrag Dateien anhängen.
      </div>
    </li>
    <li>
      <h5><%= link_to "Verweis auf eine Monographie", new_sem_app_monograph_entry_path(sem_app, :origin_id => entry_id) %></h5>
      <div class="info">
        Verwenden Sie diesen Eintrag um eine Quellenangabe zu einer Mongogrphie aufzunehmen. Sie können selbst
        PDF-Dateien anhängen oder einzelne Kapitel durch die Bibliothek Scannen lassen (wenn im Bestand vorhanden).
      </div>
    </li>
    <li>
      <h5><%= link_to "Verweis auf einen Zeitschriftenartikel", new_sem_app_article_entry_path(sem_app, :origin_id => entry_id) %></h5>
      <div class="info">
        Verwenden Sie diesen Eintrag um eine Quellenangabe zu einem Zeitschriftenartikel aufzunehmen. Sie können
        selbst PDF-Dateien anhängen oder den Artikel durch die Bibliothek Scannen lassen (wenn im Bestand vorhanden).
      </div>
    </li>
    <li>
      <h5><%= link_to "Verweis auf einen Beitrag in einem Sammelwerk", new_sem_app_collected_article_entry_path(sem_app, :origin_id => entry_id) %></h5>
      <div class="info">
        Verwenden Sie diesen Eintrag um eine Quellenangabe zu einem Beitrag in einem Sammelwerk aufzunehmen. Sie können
        selbst PDF-Dateien anhängen oder den Beitrag durch die Bibliothek Scannen lassen (wenn im Bestand vorhanden).
      </div>
    </li>
  </ol>
</div>