<h3>Gesamtliste</h3>

<% pui_panel :panel_style => 'blue', :rounded => true, :style => 'padding: 1em;' do %>
  <% form_tag(sem_apps_url, :method => :get) do %>
    <table>
      <tr>
        <td>Angezeigtes Semester:</td>
        <td><%= select("semester", "id", Semester.all.collect {|p| [ p.title, p.id ]}, {:include_blank => 'Alle'}) %></td>
      </tr>
      <tr>
        <td>Standort:</td>
        <td><%= select("location", "id", Location.all.collect {|p| [ p.title, p.id ]}, {:include_blank => 'Alle'}) %></td>
      </tr>
      <tr>
        <td>Titel enthält:</td>
        <td><%= text_field_tag 'title', @title %></td>
      </tr>
      <tr>
        <td>Tutoren enthält:</td>
        <td><%= text_field_tag 'tutors', @tutors %></td>
      </tr>
    </table>
    <div style="text-align: center">
      <%= submit_tag 'Filtern' %>
      <% if @filtered %>
        <%= link_to 'Filter zurücksetzen', sem_apps_path %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if @filtered %>
  Anzahl der eSeminarapparate: <%= @count %> <strong>(Gefiltert)</strong>
<% else %>
  Anzahl der eSeminarapparate: <%= @count %> <strong>(Gesamt)</strong>
<% end %>

<%= render 'sem_app_listing', :sem_apps => @sem_apps %>

<%= will_paginate @sem_apps %>