<% content_for(:head) do %>
  <%= javascript_include_tag('sem_apps/index.js') %>
<% end %>

<h2 class="underlined">Gesamtliste</h2>

<% semantic_form_for User.new, :url => sem_apps_path do |form| %>

  <% form.inputs :name => "Basic" do %>
    <%= form.input :login %>
    <%= form.input :password %>
  <% end %>

  <% form.buttons do %>
    <%= form.commit_button %>
  <% end %>

<% end %>



<div id="filter-panel" class="pui-overlay">
  <h2 class="underlined">Liste filtern</h2>
  <% form_tag(sem_apps_url, :method => :get, :class => 'formtastic') do %>
    <fieldset class="inputs">
      <ol>
        <li class="string required">
          <label>Angezeigtes Semester</label>
          <%= select("semester", "id", Semester.all.collect {|p| [ p.title, p.id ]}, {:include_blank => 'Alle'}) %>
        </li>
        <li class="string required">
          <label>Standort</label>
          <%= select("location", "id", Location.all.collect {|p| [ p.title, p.id ]}, {:include_blank => 'Alle'}) %>
        </li>
        <li class="string required">
          <label>Titel enthält</label>
          <%= text_field_tag 'title', @title %>
        </li>
        <li class="string required">
          <label>Tutor(en) enthält</label>
          <%= text_field_tag 'tutors', @tutors %>
        </li>
      </ol>
    </fieldset>
    <fieldset class="buttons">
      <ol>
        <li class="commit">
          <%= submit_tag 'Filtern' %>
          <% if @filtered %>
            <%= link_to 'Filter zurücksetzen', sem_apps_path %>
          <% end %>
        </li>
      </ol>
    </fieldset>
  <% end %>
</div>

<div id="filter-info-panel" class="panel underlined align-right">
  <% if @filtered %>
    Anzahl der eSeminarapparate: <%= @count %> <strong>(Gefiltert)</strong>
  <% else %>
    Anzahl der eSeminarapparate: <%= @count %> <strong>(Gesamt)</strong>
  <% end %>
  <a href="#" rel="#filter-panel">&raquo; Filter</a>
</div>

<%= render 'listing', :sem_apps => @sem_apps %>

<%= will_paginate @sem_apps %>