<h3 class="section">Gesamtliste</h3>

<div id="filter-panel" class="pui-overlay">
  <h3 class="section">Liste filtern</h3>
  <% form_tag(filter_sem_apps_path, :class => 'formtastic') do %>
    <fieldset class="inputs">
      <ol>
        <li class="string">
          <label>Angezeigtes Semester</label>
          <%= collection_select(:filter, :semester, Semester.all, :id, :title, {:include_blank => "Alle"}, {:style => 'width: 195px'}) %>
        </li>
        <li class="string">
          <label>Fachbibliothek</label>
          <%= collection_select(:filter, :location, Location.all, :id, :title, {:include_blank => "Alle"}, {:style => 'width: 195px'}) %>
        </li>
        <li class="string">
          <label>Titel enth채lt</label>
          <%= text_field_tag "filter[title]", @filter.title, {:style => 'width: 190px'} %>
        </li>
        <li class="string">
          <label>Tutor(en) (Name enth채lt)</label>
          <%= text_field_tag "filter[tutors]", @filter.tutors, {:style => 'width: 190px'}  %>
        </li>
      </ol>
    </fieldset>
    <fieldset class="buttons">
      <ol>
        <li class="commit">
          <%= submit_tag 'Filtern' %>
        </li>
        <% if @filtered %>
          <li>
            <%= link_to 'Filter zur체cksetzen', sem_apps_path %>
          </li>
        <% end %>
      </ol>
    </fieldset>
  <% end %>
</div>

<div id="filter-info-panel" class="pui-panel align-right">
  <% if @filtered %>
    Anzahl der Seminarapparate: <%= @count %> <strong>(Gefiltert)</strong>
    <a href="#" rel="#filter-panel" class="pui-overlay-trigger pui-button">
      <%= image_tag 'icons/ui-search-field.png', :plugin => 'pui' %>
      Filter 채ndern
    </a>
  <% else %>
    Anzahl der Seminarapparate: <%= @count %> <strong>(Gesamt)</strong>
    <a href="#" rel="#filter-panel" class="pui-overlay-trigger pui-button">
      <%= image_tag 'icons/ui-search-field.png', :plugin => 'pui' %>
      Liste Filtern
    </a>
  <% end %>
</div>

<%= render 'listing', :sem_apps => @sem_apps %>

<%= will_paginate @sem_apps %>