<h3>Einen neuen eSeminarapparat beantragen</h3>

<% unless current_user %>

  <% pui_panel :panel_style => 'notice' do %>
    <p>
      Um einen eSeminarapparat zu beantragen, müssen Sie sich hier anmelden.
      Sie können dazu ein lokales Benutzerkonto verwenden oder sich mit Ihrer
      vorhandenen IMT kennung anmelden. <%= link_to('&raquo; Anmelden', login_path) %>
    </p>
    <p>
      eSeminarapparate werden durch die Universitätsbibliothek <strong>überprüft</strong> und <strong>aktiviert</strong>.
      Jeder Hochschullehrer (oder eine im Auftrag handelne Person) kann einen eSeminrapparat
      für eine Veranstaltung beantragen. <strong>Vorraussetung ist, dass die Veranstaltung im Semester
      offiziell stattfindet</strong> (nachweis im <a href="http://paul-uni-paderborn.de">Vorlesungsverzeichnis</a>).
    </p>
  <% end %>

<% else %>

  <% form_for @sem_app, :html => {:class => 'puiform'} do |f| %>
    <%= f.error_messages %>
    <fieldset>
      <legend>Basisdaten</legend>
      <ol>
        <li>
          <%= f.label             :semester, "Semester" %>
          <%= f.collection_select :semester_id, Semester.find(:all), :id, :title %>
        </li>
        <li>
          <%= f.label             :org_unit, "Organisationseinheit" %>
          <%= f.collection_select :org_unit_id, OrgUnit.find(:all), :id, :title %>
        </li>
        <li>
          <%= f.label      :title, "Titel der Veranstaltung" %>
          <%= f.text_field :title %>
        </li>
        <li>
          <%= f.label      :tutors, "Tutor(en)" %>
          <%= f.text_field :tutors %>
          <div class="container" style="font-size:90%">
            Trennen Sie mehrere Tutoren durch Komma. (z.B. Prof. Reiner Müller, Dr. Heiner Schmidt)
          </div>
        </li>
      </ol>
    </fieldset>
    <fieldset>
      <legend>Zugriffsschutz</legend>
      <ol>
        <li>
          <div class="container" style="font-size:90%">
            <p style="font-weight:bold">Bitte vergeben Sie ein Passwort für den Lesezugriff auf die elektronischen
            Volltexte. Jeder der dieses Passwort kennt hat damit Lesezugriff auf die
            in diesem eSeminarapparat hinterlegten Dateien. Die sollten dieses Passwort
            nur dem begrenzten Teilnehmerkreis Ihrer Veranstaltung bekannt machen.</p>
            <p style="font-style:italic">In einer späteren Programmversion werden ihre Studierenden sich
            zusätzlich mittels ihrer persönlichen IMT Kennung anmelden können.</p>
          </div>
          <%= f.label      :shared_secret, "Passwort für den Lesezugriff*" %>
          <%= f.text_field :shared_secret %>
        </li>
      </ol>
    </fieldset>
    <fieldset class="submit">
      <legend>Speichern</legend>
      <%= f.submit 'eSeminarapparat beantragen' %>
      <%= link_to 'Abbrechen', root_path %>
    </fieldset>
  <% end %>

<% end %>