<% content_for :head do %>
  <%= javascript_include_tag 'views/sem_apps/show/manifest' %>
  <% if can?(:edit, @sem_app) %>
    <%= javascript_include_tag 'views/sem_apps/show/manifest_can_edit_sem_app' %>
  <% end %>
<% end %>

<h3 class="section">
  <%= link_to @sem_app.title, sem_app_path(@sem_app) %>
</h3>

<% if current_user and current_user.owns_sem_app?(@sem_app) and @sem_app.archived %>
  <div class="pui-panel align-center">
    <%= icon "asterisk.png" %>
    Dieser Seminarapparat wurde <strong>archiviert</strong>. Er kann nicht weiter bearbeitet werden.
    Bitte wenden Sie sich an die <a href="#" class="pui-overlay-trigger" rel="#common-help">Bibliothek</a>
    wenn Sie diesen Seminarapparat im aktuellen Semester wieder anbieten möchten.
  </div>
<% end %>

<% if !@sem_app.is_from_current_semester? %>
  <div class="pui-panel align-center">
    <%= icon "asterisk.png" %>
    <strong>Achtung: Dieser Seminarapparat ist nicht aus dem aktuellen Semester.</strong>
  </div>
<% end %>

<div class="pui-view clearfix section" style="margin-bottom: 30px">
  <div class="clearfix">
    <div class="grid_6 alpha">
      <h3>im <%= @sem_app.semester.title %></h3>
      Dozent(en): <strong><%= @sem_app.tutors %></strong><br/>
      Letzte Änderung: <strong><%= l(@sem_app.updated_at, :format => :short) %></strong>
    </div>

    <div class="grid_6 omega align-right">
      <% if can?(:edit, @sem_app) %>
        <%= link_to edit_sem_app_path(@sem_app), :class => 'pui-button' do %>
          <%= icon 'wrench.png' %>
          Einstellungen
        <% end %>
        <% if can?(:manage, @sem_app) %>
          <%= link_to admin_sem_app_path(@sem_app), :class => 'pui-button' do %>
            <%= icon 'user-black.png' %>
            Administrieren
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <% unless @sem_app.approved? %>
    <div>
      <%= render 'shared_partials/sem_app_states', :sem_app => @sem_app %>
    </div>
  <% end %>
  <% if can?(:edit, @sem_app) %>
    <% if @sem_app.shared_secret != 'ubpad466' %>
      <div>
        <%= icon 'lock.png' %>
        Lesekennung für Ihre Studierenden: <code><%= @sem_app.shared_secret %></code>
        (<%= link_to 'ändern', edit_sem_app_path(@sem_app) %>)
      </div>
    <% end %>
    <% if @sem_app.miless_passwords.present? %>
      <div>
        <%= icon 'lock.png' %>
        Lesekennung(en) (aus dem alten System): <code><%= @sem_app.miless_passwords.map {|mp| mp.password}.join(", ") -%></code>
      </div>
    <% end %>
    <div>
      <%= icon 'asterisk.png' %>
      Bitte beachten Sie die <%= link_to('Hinweise zum Urheberrecht', '#', :class => 'pui-overlay-trigger', :rel => '#legal-info') %>
    </div>
  <% end %>
</div>

<% if @sem_app.semester.id == SemApp2::TRANSIT_SOURCE_SEMESTER_ID and Semester.find_by_id(SemApp2::TRANSIT_TARGET_SEMESTER_ID).present? and can?(:edit, @sem_app) %>
  <div class="pui-view align-right">
    <%= link_to transit_sem_app_path(@sem_app), :class => 'pui-button', :method => :post, :data => {:confirm => 'Soll der aktuelle Seminarapparat in das neue Semester übernommen werden? Die können den Apparat übernehmen, wenn Sie die Veranstaltung im kommenden Semester weiterführen. Dieser Vorgang kann länger dauern, brechen Sie ihn nicht ab!'} do %>
      <%= icon('arrow-turn-090.png') %>
      In das neue Semester übernehmen
    <% end %>
  </div>
<% end %>

<div class="sem-app">
  <div class="pui-tabs-wrapper">
    <ul id="sem-app-tabs" class="pui-tabs sem-app">
      <li><a href="#books"><%= icon 'books.png' %> Bücher</a></li>
      <li><a href="#media"><%= icon 'block.png' %> Texte und Medien</a></li>
    </ul>

    <div class="pui-tab-panes">
      <div id="books-tab" rel="<%= show_books_sem_app_path(@sem_app, :format => 'js') -%>"></div>
      <div id="media-tab" rel="<%= show_media_sem_app_path(@sem_app, :format => 'js') -%>"></div>
    </div>
  </div>
</div>
