<% unless @sem_app.approved? and @sem_app.active?  %>
  <% pui_panel :panel_style => 'notice' do %>
    <p>
      Der eSeminarapparat ist <strong>nicht</strong> aktiv und/oder wurde noch nicht von der Bibliothek
      freigegeben. Nur Sie als Beseitzer dieses eSemnarapparates können ihn sehen und
      bearbeiten.
    </p>
  <% end %>
<% end %>

<h3><%= @sem_app.title %></h3>

<% pui_panel :panel_style => 'blue', :rounded => true, :style => 'padding: 1em;' do %>
  <div>
    <strong>Semester:</strong>
    <%= h(@sem_app.semester.title) %>
  </div>
  <div>
    <strong>Tutor(en):</strong>
    <%= h(@sem_app.tutors) %>
  </div>
  <div>
    <strong>Standort:</strong>
    <% if @sem_app.bid.blank? or @sem_app.ref.blank? %>
      <span style="font-style: italic">Dieser eSeminarapparat ist nur online verfügbar</span>
    <% else %>
      <%= h(@sem_app.location.title) %>,
      # <%= h(@sem_app.ref) %>
    <% end %>
  </div>
<% end %>

<div class="sem-app">
  <ul class="pui-tabbar tabs">
    <li><a href="#books"><span>Bücher</span></a></li>
    <li><a href="#media"><span>Texte und Medien</span></a></li>
  </ul>

  <div class="panels">
    <!-- Books Tab -->
    <div id="books-tab">
      <% if @sem_app.editable? %>
        <%= render 'books_toolbar', :sem_app => @sem_app %>
      <% end %>

      <% if @sem_app.book_entries.present? and @sem_app.bid.present? and @sem_app.ref.present? %>
        <div id="sem-app-book-entries" class="sem-app-entries">
          <% @sem_app.book_entries.each do |entry| %>
            <%= render 'entry', :entry => entry, :sem_app => @sem_app %>
          <% end %>
        </div>
      <% else %>
        <% pui_panel :panel_style => 'highlight', :style => 'text-align: center' do %>
          <p>Für diesen eSeminarapparat sind aktuell <strong>keine</strong> Bücher in der Bibliothek aufgestellt.</p>
        <% end %>
      <% end %>
    </div>

    <!-- Media Tab -->
    <div id="media-tab">
      MEDIEN TAB
    </div>
  </div>
</div>

<% content_for :header do %>
  <script type="text/javascript">
    jQuery(function() {
      /** Setup the tabbar */
      jQuery("ul.tabs").tabs("div.panels > div", {
        history: true
      });
    });
  </script>

  <% if @sem_app.editable? %>
    <script type="text/javascript">
      var edit_mode = false;

      /** Uighlights a given entry */
      function highlightEntry(entry) {
        entry.addClass("highlight");
      }

      /** Unhighlights a given entry */
      function unhighlightEntry(entry) {
        entry.removeClass("highlight");
      }

      /** Shows the toolbar for a given entry */
      function showToolbar(entry) {
        entry.find(".toolbar").show();
      }

      /** Hides the toolbar for a given entry */
      function hideToolbar(entry) {
        entry.find(".toolbar").hide();
      }

      /**
       * Deletes an entry. It first requests a confirmation from the user.
       */
      function deleteEntry(entry, url) {
        //console.debug("Delete entry action triggered:", url);
        // setup ui
        edit_mode = true;
        hideToolbar(entry);
        // let the user confirm this action
        confirm({
          title: "Löschen bestätigen...",
          message: "Soll der Eintrag wirklich gelöscht werden? (Gelöschte Bücher werden ebenfalls aus dem regal entfernt)",
          onClose: function() {
            edit_mode = false;
            unhighlightEntry(entry);
          },
          onYes: function() {
            // really delete the entry on the server
            jQuery.ajax({
              type: "delete",
              data: "_method=delete",
              async: false,
              url: url,
              success: function() {
                //console.debug("Entry deleted on server: ", url);
                entry.slideUp(700, function() {
                  edit_mode = false;
                });
              },
              error: function() {
                alert("Beim Versuch den Eintrag zu löschen ist ein Fehler aufgetreten. Laden Sie die Seite neu und versuchen Sie es erneut. Sollte es wiederholt zu einem Fehler kommen, kontaktieren Sie bitte den Supoort.");
              }
            });
          },
          onNo: function() {
            edit_mode = false;
            unhighlightEntry(entry);
          }
        });
      }
      
      /**
       * Shows the a panel to confirm an operation (e.g. a delete operation)
       */
      function confirm(options) {
        // build the settings
        var settings = jQuery.extend({
          title  : "Bestätigen...",
          message: "Soll die Aktion durchgeführt werden?",
          entry  : null,
          onClose: function() {},
          onYes  : function() {},
          onNo   : function() {}
        }, options || {});

        // setup the confirmation dialog
        jQuery('<div id="confirmation-dialog"></div>').dialog({
          modal: true,
          autoOpen: false,
          width: 350,
          title: settings.title,
          closeOnEscape: true,
          close: settings.onClose(),
          buttons: {
            "Ja": function() {
              jQuery(this).dialog("close");
              settings.onYes();
            },
            "Nein": function() {
              jQuery(this).dialog("close");
              settings.onNo();
            }
          }
        })
        .html(settings.message)
        .dialog("open");
      }


      /***********************************************************************************
       * Event hooks
       **********************************************************************************/
      jQuery(function() {
      
        /** If the user hovers over entries with the mouse, show/hide a toolbar. */
        jQuery(".sem-app-entries .sem-app-entry").hover(function() {
          if (edit_mode == true) return;
          highlightEntry(jQuery(this));
          showToolbar(jQuery(this))
        }, function() {
          if (edit_mode == true) return;
          unhighlightEntry(jQuery(this));
          hideToolbar(jQuery(this));
        });

        /** If the user clicks the delete link of an entry */
        jQuery(".delete-action").click(function(event) {
          event.preventDefault();
          var entry = jQuery(this).parent().parent();
          var url   = jQuery(this).attr("href");
          deleteEntry(entry, url);
        });
      });
    </script>
  <% end %>
<% end %>