<% if @sem_app.is_editable_for?(current_user) %>
  <% content_for :head do %>
    <%= javascript_include_tag 'sem_apps/common.js' %>
    <%= javascript_include_tag 'sem_apps/books.js' %>
    <%= javascript_include_tag 'sem_apps/media.js' %>
  <% end %>
<% end %>


<h3 class="section">
  <%= link_to h(@sem_app.title), sem_app_path(@sem_app) %>
</h3>

<div class="pui-view clearfix section">
  <div class="grid_6 alpha">
    im <%= h(@sem_app.semester.title) %><br/>
    Tutor(en): <strong><%= h(@sem_app.tutors) %></strong>
  </div>

  <div class="grid_6 omega align-right">
    <% if @sem_app.is_editable_for?(current_user) %>
      <% link_to edit_sem_app_path(@sem_app), :class => 'pui-button' do %>
        <%= icon 'wrench.png' %>
        Einstellungen
      <% end %>
      <% if current_user and current_user.is_admin? %>
        <% link_to admin_sem_app_path(@sem_app), :class => 'pui-button' do %>
          <%= icon 'user-black.png' %>
          Administrieren
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>


<div class="sem-app">
  <div class="pui-tabs-wrapper">
    <ul class="pui-tabs">
      <li><a href="#books"><%= icon 'books.png' %> Bücher</a></li>
      <li><a href="#media"><%= icon 'block.png' %> Texte und Medien</a></li>
    </ul>

    <div class="pui-tab-panes">
      <div id="books-tab">
        <%= render 'books_tab' %>
      </div>
      <div id="media-tab">
        <%= render 'media_tab' %>
      </div>
    </div>
  </div>
</div>