<% if can?(:edit, @sem_app) %>
  <% content_for :head do %>
    <%= javascript_include_tag 'sem_apps/common.js' %>
    <%= javascript_include_tag 'sem_apps/books.js' %>
    <%= javascript_include_tag 'sem_apps/media.js' %>
  <% end %>
<% end %>

<h3 class="section">
  <%= link_to h(@sem_app.title), sem_app_path(@sem_app) %>
</h3>

<div class="pui-view clearfix section" style="margin-bottom: 30px">
  <div class="grid_6 alpha">
    im <%= h(@sem_app.semester.title) %><br/>
    Dozent(en): <strong><%= h(@sem_app.tutors) %></strong>
    <% unless @sem_app.approved? %>
      <br/>
      <%= render 'shared_partials/sem_app_states', :sem_app => @sem_app %>
    <% end %>
  </div>

  <div class="grid_6 omega align-right">
    <% if can?(:edit, @sem_app) %>
      <% link_to edit_sem_app_path(@sem_app), :class => 'pui-button' do %>
        <%= icon 'wrench.png' %>
        Einstellungen
      <% end %>
      <% if can?(:manage, @sem_app) %>
        <% link_to admin_sem_app_path(@sem_app), :class => 'pui-button' do %>
          <%= icon 'user-black.png' %>
          Administrieren
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="sem-app">
  <div class="pui-tabs-wrapper">
    <ul class="pui-tabs">
      <li><a href="#books"><%= icon 'books.png' %> Bücher</a></li>
      <li><a href="#media"><%= icon 'block.png' %> Texte und Medien</a></li>
    </ul>

    <div class="pui-tab-panes">
      <div id="books-tab">
        <%= render 'books_tab' %>
      </div>
      <div id="media-tab">
        <%= render 'media_tab' %>
      </div>
    </div>
  </div>
</div>