<% if @sem_app.is_editable_for?(current_user) %>
  <% content_for :head do %>
    <%= javascript_include_tag 'sem_apps/common.js' %>
    <%= javascript_include_tag 'sem_apps/books.js' %>
    <%= javascript_include_tag 'sem_apps/media.js' %>
  <% end %>

  <div class="pui-panel align-right">
    <%= link_to 'Einstellungen', edit_sem_app_path(@sem_app), :class => 'pui-button' -%>
    <% if current_user and current_user.is_admin? %>
      <%= link_to 'Administrieren', admin_sem_app_path(@sem_app), :class => 'pui-button' -%>
    <% end %>
  </div>
<% end %>

<% unless @sem_app.is_from_current_semester? %>
  <div class="pui-panel notice align-center">
    <strong>Bitte beachten Sie:</strong>
    Dieser Apparat gehört zu einer Veranstaltung aus dem Semester<br/>
    <strong><%=h @sem_app.semester.title %></strong>
  </div>
<% end %>

<div class="sem-app">
  <div class="pui-view">
    <%= render 'title', :sem_app => @sem_app %>
  </div>

  <div class="pui-tabs-wrapper">
    <ul class="pui-tabs">
      <li><a href="#books">Bücher</a></li>
      <li><a href="#media">Texte und Medien</a></li>
    </ul>

    <div class="pui-tab-panes">
      <div id="books-tab">
        <%= render 'books_tab' %>
      </div>
      <div id="media-tab">
        <%= render 'media_tab' %>
      </div>
    </div>
  </div>
</div>