<% unless @sem_app.approved? and @sem_app.active?  %>
  <div class="pui-panel notice">
    <p>
      Der eSeminarapparat ist <strong>nicht</strong> aktiv und/oder wurde noch nicht von der Bibliothek
      freigegeben. Nur Sie als Besitzer dieses eSemnarapparates können ihn sehen und
      bearbeiten.
    </p>
  </div>
<% end %>

<% if @sem_app.editable? %>
  <div class="pui-panel" style="text-align: right">
    <strong>eSeminarapparat:</strong>
    <%= link_to '&raquo;Bearbeiten', edit_sem_app_path(@sem_app) -%>
    <% if User.current.is_admin? %>
      | <%= link_to '&raquo;Löschen', sem_app_path(@sem_app), :method => :delete, :confirm => 'Den eSeminarapparat wirklich löschen? (Alle Daten werden unwiederruflich gelöscht)' -%>
    <% end %>
  </div>
<% end %>

<h3><%= @sem_app.title %> (<%= h(@sem_app.semester.title) -%>)</h3>
<div>
  Tutor(en):
  <strong><%= h(@sem_app.tutors) %></strong>
</div>

<div class="sem-app">
  <ul class="pui-tabbar tabs">
    <li><a href="#books"><span>Bücher</span></a></li>
    <li><a href="#media"><span>Texte und Medien</span></a></li>
  </ul>

  <div class="panels">
    <!-- Books Tab -->
    <div id="books-tab">
      <% if @sem_app.editable? %>
        <%= render 'books_toolbar', :sem_app => @sem_app %>
      <% end %>

      <% if @sem_app.books.present? %>
        <div class="pui-panel">
          <strong>Standort der Bücher:</strong>
          <% if @sem_app.bid.blank? or @sem_app.ref.blank? %>
            <span style="font-style: italic">Dieser eSeminarapparat ist nur online verfügbar</span>
          <% else %>
            <%= h(@sem_app.location.title) %>,
            Nr. <%= h(@sem_app.ref) %>
          <% end %>
        </div>

        <div id="sem-app-book-entries" class="sem-app-entries">
          <% @sem_app.books.each do |book| %>
            <%= render 'book', :entry => book, :sem_app => @sem_app %>
          <% end %>
        </div>
      <% else %>
        <div id="sem-app-book-entries" class="sem-app-entries">
          <div id="no-book-entries-message">
            <p>Für diesen eSeminarapparat sind aktuell <strong>keine</strong> Bücher in der Bibliothek aufgestellt.</p>
          </div>
        </div>
      <% end %>
    </div>

    <!-- Media Tab -->
    <div id="media-tab">
      <% if @sem_app.editable? %>
        <%= render 'media_toolbar', :sem_app => @sem_app %>
      <% end %>

      <div id="sem-app-media-entries" class="sem-app-entries">
        <% if @sem_app.media_entries.present? %>
          <% @sem_app.media_entries.each do |entry| %>
            <%= render 'entry', :entry => entry, :sem_app => @sem_app %>
          <% end %>
        <% else %>
          <div id="no-media-entries-message">
            <p>Für diesen eSeminarapparat sind aktuell <strong>keine</strong> elektronischen Texte und Medien verfügbar.</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for :header do %>
  <script type="text/javascript">
    jQuery(function() {
      /** Setup the tabbar */
      jQuery("ul.tabs").tabs("div.panels > div", {
        history: true
      });
    });
  </script>

  <% if @sem_app.editable? %>
    <script type="text/javascript">
      var edit_mode = false;

      /** Highlights a given entry */
      function highlightEntry(entry) {
        entry.addClass("highlight");
      }

      /** Unhighlights a given entry */
      function unhighlightEntry(entry) {
        entry.removeClass("highlight");
      }

      /** Shows the toolbar for a given entry */
      function showToolbar(entry) {
        entry.find(".toolbar").show();
      }

      /** Hides the toolbar for a given entry */
      function hideToolbar(entry) {
        entry.find(".toolbar").hide();
      }

      /**
       * Deletes an entry. It first requests a confirmation from the user.
       */
      function deleteEntry(entry, url, options) {
        // build the settings
        var settings = jQuery.extend({
          title  : "Löschen bestätigen...",
          message: "Soll der Eintrag wirklich gelöscht werden?"
        }, options || {});

        //console.debug("Delete entry action triggered:", url);
        // setup ui
        edit_mode = true;
        hideToolbar(entry);
        // let the user confirm this action
        confirmAction({
          title: settings.title,
          message: settings.message,
          onClose: function() {
            edit_mode = false;
            unhighlightEntry(entry);
          },
          onYes: function() {
            // really delete the entry on the server
            jQuery.ajax({
              type: "delete",
              data: "_method=delete",
              async: true,
              url: url,
              success: function() {
                //console.debug("Entry deleted on server: ", url);
                entry.slideUp(500, function() {
                  edit_mode = false;
                });
              },
              error: function() {
                alert("Beim Versuch den Eintrag zu löschen ist ein Fehler aufgetreten. Laden Sie die Seite neu und versuchen Sie es erneut. Sollte es wiederholt zu einem Fehler kommen, kontaktieren Sie bitte den Support.");
              }
            });
          },
          onNo: function() {
            edit_mode = false;
            unhighlightEntry(entry);
          }
        });
      }
      
      /**
       * Shows a panel to confirm an operation (e.g. a delete operation)
       */
      function confirmAction(options) {
        // build the settings
        var settings = jQuery.extend({
          title  : "Bestätigen...",
          message: "Soll die Aktion durchgeführt werden?",
          entry  : null,
          onClose: function() {},
          onYes  : function() {},
          onNo   : function() {}
        }, options || {});

        // setup the confirmation dialog
        jQuery('<div id="confirmation-dialog"></div>').dialog({
          modal: true,
          autoOpen: false,
          width: 350,
          title: settings.title,
          closeOnEscape: true,
          close: settings.onClose(),
          buttons: {
            "Ja": function() {
              jQuery(this).dialog("close");
              settings.onYes();
            },
            "Nein": function() {
              jQuery(this).dialog("close");
              settings.onNo();
            }
          }
        })
        .html(settings.message)
        .dialog("open");
      }

      function createEntry(instance_type) {
        jQuery.get('<%= new_sem_app_entry_path(@sem_app) -%>', {instance_type: instance_type}, function(data) {
          entryDialog({
            html: data,
            onSave: function(dialog) {
              var form = jQuery('#entry-form');
              submitForm(form, {
                onSuccess: function(responseText) {
                  dialog.dialog("close");
                  jQuery('#sem-app-media-entries').prepend(responseText);
                  jQuery('#no-media-entries').hide();
                },
                onError: function(responseText) {
                  form.replaceWith(responseText);
                  loadMCE();
                }
              });
            },
            onCancel: function(dialog) {
              dialog.dialog('close');
            }
          });
        });
      }

      function editEntry(entry, url) {
        jQuery.get(url, function(data) {
          entryDialog({
            title: "Einen Eintrag bearbeiten...",
            html: data,
            onSave: function(dialog) {
              var form = jQuery('#entry-form');
              submitForm(form, {
                onSuccess: function(responseText) {
                  dialog.dialog("close");
                  entry.replaceWith(responseText);
                },
                onError: function(responseText) {
                  form.replaceWith(responseText);
                  loadMCE();
                }
              });
            },
            onCancel: function(dialog) {
              dialog.dialog('close');
            }
          });
        });
      }

      function entryDialog(options) {
        // build the settings
        var settings = jQuery.extend({
          title   : "Einen neuen Eintrag erstellen...",
          onSave  : function(dialog) {},
          onCancel: function(dialog) {},
          html    : ""
        }, options || {});

        // (re)create the dialog
        jQuery('#entry-dialog').remove();
        var dialog = jQuery('<div id="entry-dialog"></div>').dialog({
          modal: true,
          autoOpen: false,
          width: 620,
          title: settings.title,
          closeOnEscape: true,
          buttons: {
            "Speichern": function() {
              settings.onSave(jQuery(this));
            },
            "Abbrechen": function() {
              settings.onCancel(jQuery(this));
            }
          }
        })
        .html(settings.html)
        .dialog("open");

        // (re)bind to the submit event of the form loaded into the
        // dialog to prevent default form submit.
        var form = jQuery('#entry-form');
        form.unbind("submit");
        form.bind("submit", function(event) {
          event.preventDefault();
          settings.onSave(dialog);
        });

        loadMCE();
      }

      function loadMCE() {
        jQuery('textarea.mce').tinymce({
          script_url: '/javascripts/tiny_mce/tiny_mce.js',
          theme : "advanced",
          add_form_submit_trigger : false,

          width: '100%',
          content_css: '/stylesheets/main.css',

          theme_advanced_toolbar_align: "left",
          theme_advanced_toolbar_location: "top",
          theme_advanced_statusbar_location: "bottom",
          theme_advanced_resizing: true
        });
      }

      function submitForm(form, options) {
        var opts = jQuery.extend({
          onSuccess: function(responseText) {},
          onError  : function(responseText) {}
        }, options || {});

        // handle form submission
        // (re)bind to the submit event of the form we just loaded into the editor
        form.unbind("submit");
        form.bind("submit", function(event) {
          event.preventDefault();

          if (typeof tinyMCE != 'undefined') {
            tinyMCE.triggerSave(true, true);
          }

          jQuery(this).ajaxSubmit({
            dataType: 'html',
            success: function(responseText) {
              opts.onSuccess(responseText);
            },
            error: function(xhr) {
              opts.onError(xhr.responseText);
            }
          });
        });

        // trigger the submit event of the form
        form.submit();
      }

      function reorderMediaEntries() {
        var orderedList = jQuery("#sem-app-media-entries").sortable('serialize');
        console.debug(orderedList);
        
        jQuery.ajax({
          type: "put",
          data: "_method=put&" + orderedList,
          async: true,
          url: "<%= reorder_sem_app_entries_path(@sem_app) -%>",
          success: function() {
            console.debug("Sort sucessfull");
          },
          error: function() {
            alert("Sortieren fehlgeschlagen");
          }
        });
      }

      /***********************************************************************************
       * Event hooks
       **********************************************************************************/
      jQuery(function() {
      
        /** If the user hovers over entries with the mouse, show/hide a toolbar. */
        jQuery(".sem-app-entries .sem-app-entry").live('mouseover', function() {
          if (edit_mode == true) return;
          highlightEntry(jQuery(this));
          showToolbar(jQuery(this))
        });
        jQuery(".sem-app-entries .sem-app-entry").live('mouseout', function() {
          if (edit_mode == true) return;
          unhighlightEntry(jQuery(this));
          hideToolbar(jQuery(this));
        });

        /** If the user clicks the delete link of an book entry */
        jQuery(".delete-book-entry-action").live('click', function(event) {
          event.preventDefault();
          var entry = jQuery(this).parent().parent();
          var url   = jQuery(this).attr("href");
          deleteEntry(entry, url, {
            title  : "Löschen bestätigen...",
            message: "Soll das Buch aus der Liste gelöscht werden? Wenn Sie diese Aktion bestätigen wird das Buch ebenfalls aus dem Regal in der Bibliothek entfernt und in den normalen Bestand aufgenommen."
          });
        });

        /** If the user clicks the delete link of an media entry */
        jQuery(".delete-media-entry-action").live('click', function(event) {
          event.preventDefault();
          var entry = jQuery(this).parent().parent();
          var url   = jQuery(this).attr("href");
          deleteEntry(entry, url, {
            title  : "Löschen bestätigen...",
            message: "Soll der Eintrag wirklich gelöscht werden?"
          });
        });

        /** If the user clicks the edit link of an media entry */
        jQuery(".edit-media-entry-action").live('click', function(event) {
          event.preventDefault();
          var entry = jQuery(this).parent().parent();
          var url = jQuery(this).attr("href");
          editEntry(entry, url);
        });

        /** If the user clicks the create entry link of an entry */
        jQuery(".new-media-entry-action").change(function(event) {
          event.preventDefault();

          var entry_type = jQuery(this).attr('value');
          createEntry(entry_type);
          
          this.selectedIndex = 0;
        });

        /** Make media entries sortable with the mouse */
        jQuery("#sem-app-media-entries").sortable({
          items: '.sem-app-entry',
          handle: '.reorder-media-entry-action',
          update: function(event, ui) {
            reorderMediaEntries();
          }
        })
      });
    </script>
  <% end %>
<% end %>