<% unless @sem_app.approved? and @sem_app.active?  %>
  <% pui_panel :panel_style => 'notice' do %>
    <p>
      Der eSeminarapparat ist <strong>nicht</strong> aktiv und/oder wurde noch nicht von der Bibliothek
      freigegeben. Nur Sie als Beseitzer dieses eSemnarapparates können ihn sehen und
      bearbeiten.
    </p>
  <% end %>
<% end %>

<h3><%= @sem_app.title %></h3>

<% pui_panel :panel_style => 'blue', :rounded => true, :style => 'padding: 1em;' do %>
  <div>
    <strong>Semester:</strong>
    <%= h(@sem_app.semester.title) %>
  </div>
  <div>
    <strong>Tutor(en):</strong>
    <%= h(@sem_app.tutors) %>
  </div>
  <div>
    <strong>Standort:</strong>
    <% if @sem_app.bid.blank? or @sem_app.ref.blank? %>
      <span style="font-style: italic">Dieser eSeminarapparat ist nur online verfügbar</span>
    <% else %>
      <%= h(@sem_app.location.title) %>,
      # <%= h(@sem_app.ref) %>
    <% end %>
  </div>
<% end %>

<div class="sem-app">
  <ul class="pui-tabbar tabs">
    <li><a href="#books"><span>Bücher</span></a></li>
    <li><a href="#media"><span>Texte und Medien</span></a></li>
  </ul>

  <div class="panels">
    <!-- Books Tab -->
    <div id="books-tab">
      <% if @sem_app.editable? %>
        <%= render 'books_toolbar', :sem_app => @sem_app %>
      <% end %>

      <% if @sem_app.book_entries.present? and @sem_app.bid.present? and @sem_app.ref.present? %>
        <div id="sem-app-book-entries" class="sem-app-entries">
          <% @sem_app.book_entries.each do |b| %>
            <%= render 'entry', :entry => b, :sem_app => @sem_app %>
          <% end %>
        </div>
      <% else %>
        <% pui_panel :panel_style => 'highlight', :style => 'text-align: center' do %>
          <p>Für diesen eSeminarapparat sind aktuell <strong>keine</strong> Bücher in der Bibliothek aufgestellt.</p>
        <% end %>
      <% end %>
    </div>

    <!-- Media Tab -->
    <div id="media-tab">
      MEDIEN TAB
    </div>
  </div>
</div>

<div id="confirmation-dialog" style="display:none"></div>

<% content_for :header do %>
  <script type="text/javascript">
    jQuery(function() {
      /** Setup the tabbar */
      jQuery("ul.tabs").tabs("div.panels > div", {
        history: true
      });
    });
  </script>

  <% if @sem_app.editable? %>
    <script type="text/javascript">
      var edit_mode = false;

      /***********************************************************************************
       * Functions
       **********************************************************************************/

      function highlightEntry(entry) {
        entry.addClass("highlight");
      }

      function unhighlightEntry(entry) {
        entry.removeClass("highlight");
      }

      function showToolbar(entry) {
        entry.find(".toolbar").show();
      }

      function hideToolbar(entry) {
        entry.find(".toolbar").hide();
      }

      function confirmEntryAction(options) {
        // build the settings
        var settings = jQuery.extend({
          title: "Bestätigen...",
          message: "",
          exposeElement: null,
          onSuccess: function() {},
          onAbort: function() {},
          onClose: function() {}
        }, options || {});

        // expose
        if (settings.exposeElement != null) {
          var exposeApi = settings.exposeElement.expose({
            api: true,
            zIndex: 100,
            closeOnClick: false,
            closeOnEsc: false
          });
        }

        // setup the confirmation dialog
        jQuery("#confirmation-dialog").dialog({
          modal: (exposeApi != null) ? false : true,
          autoOpen: false,
          width: 350,
          title: settings.title,
          close: function() {
            if (exposeApi != null) {
              exposeApi.close();
            }
            settings.onClose();
          },
          buttons: {
            "Ja": function() {
              jQuery(this).dialog("close");
              settings.onSuccess();
            },
            "Nein": function() {
              jQuery(this).dialog("close");
              settings.onAbort();
            }
          }
        });

        if (exposeApi != null) {
          exposeApi.load();
        }
        jQuery("#confirmation-dialog").html(settings.message)
        jQuery("#confirmation-dialog").dialog("open");
      }

      function deleteEntry(entry) {
        edit_mode = true;
        hideToolbar(entry);

        confirmEntryAction({
          title: "Löschen bestätigen...",
          message: "<p>Den hervorgehobenen Eintrag wirklich löschen?</p>",
          exposeElement: entry,
          onClose: function() {
            alert("close");
            edit_mode = false;
            //hideToolbar(entry);
            //unhighlightEntry(entry);
          },
          onSuccess: function() {
            //deleteEntry(14);
          }
        });
        /*alert("mooo");
        jQuery.ajax({
          type: "DELETE",
          async: false,
          url: "<%= sem_app_entries_path(@sem_app) -%>/"+entry_id,
          success: function(msg) {
            alert("Deleted: " + msg);
          }
        });*/
      }
      
      /***********************************************************************************
       * Event hooks
       **********************************************************************************/
      jQuery(function() {
      
        /** If the user hovers over entries with the mouse, show/hide a toolbar. */
        jQuery(".sem-app-entries .sem-app-entry").hover(function() {
          if (edit_mode == true) return;
          highlightEntry(jQuery(this));
          showToolbar(jQuery(this))
        }, function() {
          if (edit_mode == true) return;
          unhighlightEntry(jQuery(this));
          hideToolbar(jQuery(this));
        });

        /** If the user clicks the delete button of an entry */
        jQuery(".button.delete-action").click(function() {
          var entry = jQuery(this).parent().parent();
          deleteEntry(entry);
        });
      });
    </script>
  <% end %>
<% end %>