<% form_for [:admin, @sem_app], :html => {:class => 'puiform'} do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend>Basisdaten</legend>
    <ol>
      <li>
        <div class="container">
          <%= f.check_box :active %>
          <%= f.label     :active, "Aktiv?" %>
        </div>
      </li>
      <li>
        <%= f.label             :semester, "Semester" %>
        <%= f.collection_select :semester_id, Semester.find(:all), :id, :title %>
      </li>
      <li>
        <%= f.label             :org_unit, "Organisationseinheit" %>
        <%= f.collection_select :org_unit_id, OrgUnit.find(:all), :id, :title, :prompt => '-- Bitte auswählen --' %>
      </li>
      <li>
        <%= f.label      :title, "Titel" %>
        <%= f.text_field :title %>
      </li>
    </ol>
  </fieldset>
  <fieldset>
    <legend>Bibliotheksdaten (optional)</legend>
    <ol>
      <li>
        <%= f.label      :bid, "Bibliotheks ID" %>
        <%= f.text_field :bid %>
        <div class="pui-tooltip">z.B. Aleph Ausweisnummer</div>
      </li>
    </ol>
  </fieldset>
  <fieldset class="submit">
    <legend>Speichern</legend>
    <%= f.submit 'Speichern' %>
    <%= link_to 'Abbrechen', admin_sem_apps_path %>
  </fieldset>
<% end %>

