<% semantic_form_for [:admin, @sem_app] do |f| %>
  <% f.inputs :name => 'Administrative Daten' do %>
    <% if @sem_app.creator.email.present? %>
      <% approve_hint = "Nach der Aktivierung wird eine E-Mail mit Informationen an #{@sem_app.creator.email} verschickt." %>
    <% end %>
    <%= f.input :approved, :label => 'Von der UB gepr&uuml;ft und freigebegen?', :required => false, :hint => approve_hint || '' %>
  <% end %>

  <% f.inputs :name => 'Ausweis / Regal' do %>
    <div class="pui-panel">
      Um B&uuml;cher in diesen Apparat einstellen zu können bitte die folgenden Felder ausf&uuml;llen. Ansonsten die Felder leer lassen.
    </div>
    <% f.semantic_fields_for :book_shelf do |shelf| %>
      <% unless shelf.object.new_record? %>
        <%= shelf.input '_destroy',  :label => 'Ausweis / Regal löschen?', :as => :boolean, :required => false %>
      <% end %>
      <%= shelf.input :slot_number,  :label => 'Regal Nr.',   :required => false, :hint => 'Die Nummer des Seminarapparats z.B. 12' %>
      <%= shelf.input :ils_account,  :label => 'Ausweis Nr.', :required => false, :hint => 'Die Ausweisnummer vom Seminarapparat z.B. PE12345678' %>
    <% end %>
  <% end %>

  <% f.inputs :name => 'Verweis auf einen anderes Regal' do %>
    <div class="pui-panel">
      Die Bücher dieses Apparates stehen in dem Regal eines anderen Seminarapparates.
    </div>
    <% f.semantic_fields_for :book_shelf_ref do |shelf_ref| %>
      <% unless shelf_ref.object.new_record? %>
        <%= shelf_ref.input '_destroy',  :label => 'Verknüpfung löschen?', :as => :boolean, :required => false %>
      <% end %>
      <%= shelf_ref.input :sem_app_ref_id, :label => 'SemApp ID', :required => false, :hint => 'Die Bücher stehen in einem anderen Regal. ID des anderen Sem Apps eingeben.', :as => 'string' %>
    <% end %>
  <% end %>

  <% f.inputs :name => 'Basisdaten' do %>
    <% if @sem_app.new_record? %>
      <%= f.input :semester,  :label => 'Semester', :hint => 'In welchem Semester findet Ihre Veranstaltung statt?' %>
      <%= f.input :title,     :label => 'Titel',    :hint => 'Titel der Veranstaltung' %>
      <%= f.input :course_id, :label => 'Kurs-ID',  :hint => 'Wenn bekannt geben Sie bitte die eindeutige Kurs-ID an.', :required => false %>
    <% else %>
      <%= f.input :semester,  :label => 'Semester' %>
      <%= f.input :title,     :label => 'Titel' %>
      <%= f.input :course_id, :label => 'Kurs-ID', :required => false %>
    <% end %>
    <%= f.input :tutors, :label => 'Dozent(en)', :as => :string, :hint => 'Die Namen der beteiligten Dozenten (Format: Nachname, Vorname). Trennen Sie mehrere Namen durch ein Semikolon.' %>
  <% end %>

  <% f.inputs :name => 'Bibliotheksdaten' do %>
    <% if @sem_app.new_record? %>
      <%= f.input :location, :label => 'Standort', :hint => 'Welcher Fachbibliothek soll der Seminarapparat zugeordnet werden?' %>
    <% else %>
      <%= f.input :location, :label => 'Standort' %>
    <% end %>
  <% end %>

  <% f.inputs :name => 'Zugriffsschutz' do %>
    <%= f.input :shared_secret, :label => 'Lesekennung' %>
  <% end %>

  <% f.buttons do %>
    <%= f.commit_button 'Speichern' %>
    <li>
      <% if f.object.new_record?  %>
        <%= link_to 'Abbrechen', admin_sem_apps_path %>
      <% else %>
        <%= link_to 'Abbrechen', admin_sem_app_path(@sem_app) %>
      <% end %>
    </li>
  <% end %>
<% end %>

<span>* Pflichtfelder</span>