<% form_for [:admin, @sem_app], :html => {:class => 'pui-form columnar'} do |f| %>
  <fieldset>
    <legend>Basisdaten</legend>
    <ol>
      <li>
        <%= f.label     :active, "Aktiv?" %>
        <%= f.check_box :active %>
      </li>
      <li>
        <%= f.label             :semester, "Semester" %>
        <%= f.collection_select :semester_id, Semester.find(:all), :id, :title %>
      </li>
      <li>
        <%= f.label      :title, "Titel" %>
        <%= f.text_field :title %>
      </li>
      <li>
        <%= f.label      :permalink, "Permalink" %>
        <%= f.text_field :permalink %>
      </li>
    </ol>
  </fieldset>
  <fieldset>
    <legend>Bibliotheksdaten (optional)</legend>
    <ol>
      <li>
        <%= f.label      :bid, "Bibliotheks ID" %>
        <%= f.text_field :bid, :info_message => 'z.B. Aleph Ausweisnummer' %>
      </li>
    </ol>
  </fieldset>
  <fieldset>
    <legend>Besitzer (<%= link_to 'bearbeiten', admin_sem_app_ownerships_path(@sem_app) %>)</legend>
    <ul>
      <% @sem_app.ownerships.each do |ownership| %>
        <li>
          <b><%= h(ownership.user.login) %></b>
          <% if ownership.can_write or ownership.user.is_admin? %>
          (kann den eSeminarapparat bearbeiten)
          <% end %>
        </li>
      <% end %>
    </ul>
  </fieldset>
  <fieldset class="submit">
    <legend>Speichern</legend>
    <%= f.submit 'Speichern' %>
    <%= link_to 'Abbrechen', admin_sem_apps_path %>
  </fieldset>
<% end %>

