<% form_for [:admin, @sem_app], :html => {:class => 'puiform'} do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend>Basisdaten</legend>
    <ol>
      <li>
        <div class="container">
          <%= f.check_box :approved %>
          <%= f.label     :approved, "Geprüft?" %>
          <%= f.check_box :active %>
          <%= f.label     :active, "Aktiv?" %>
        </div>
      </li>
      <li>
        <%= f.label             :semester, "Semester*" %>
        <%= f.collection_select :semester_id, Semester.find(:all), :id, :title, :prompt => '-- Bitte auswählen --' %>
      </li>
      <li>
        <%= f.label      :title, "Titel*" %>
        <%= f.text_field :title %>
      </li>
      <li>
        <%= f.label      :course_id, "Kurs ID" %>
        <%= f.text_field :course_id %>
      </li>
      <li>
        <%= f.label      :tutors, "Tutor(en)*" %>
        <%= f.text_field :tutors %>
        <div class="container" style="font-size:90%">
          Trennen Sie mehrere Tutoren durch Komma. (z.B. Prof. Reiner Müller, Dr. Heiner Schmidt)
        </div>
      </li>
    </ol>
  </fieldset>
  <fieldset>
    <legend>Bibliotheksdaten</legend>
    <ol>
      <li>
        <%= f.label             :location, "Standort*" %>
        <%= f.collection_select :location_id, Location.find(:all), :id, :title, :prompt => '-- Bitte auswählen --' %>
      </li>
      <li>
        <%= f.label      :bid, "Bibliotheks ID" %>
        <%= f.text_field :bid %>
        <div class="pui-tooltip">z.B. Aleph Ausweisnummer</div>
      </li>
      <li>
        <%= f.label      :ref, "Referenznummer" %>
        <%= f.text_field :ref %>
        <div class="pui-tooltip">eine intern verwendete Referenznummer (z.B. Nummer am Regal)</div>
      </li>
    </ol>
  </fieldset>
  <fieldset>
    <legend>Zugriffsschutz</legend>
    <ol>
      <li>
        <%= f.label      :shared_secret, "Passwort für den Lesezugriff*" %>
        <%= f.text_field :shared_secret %>
      </li>
    </ol>
  </fieldset>
  <div style="font-size: 90%">* Plfichtfelder</div>
  <fieldset class="submit">
    <legend>Speichern</legend>
    <%= f.submit 'Speichern' %>
    <%= link_to 'Abbrechen', admin_sem_apps_path %>
  </fieldset>
<% end %>

