<% if @sem_apps.present?  %>
  <%= will_paginate @sem_apps, :style => "text-align: left" %>
  <table class="pui-datagrid">
    <tbody>
      <% @sem_apps.each do |s| %>
        <tr>
          <td>
            <% unless s.approved? %>
              <%= icon 'star.png' %>
            <% end %>
            <% if s.books_to_add.present? %>
              <%= icon 'overlay/book--plus.png' %>
            <% end %>
            <% if s.books_to_remove.present? %>
              <%= icon 'overlay/book--minus.png' %>
            <% end %>
            
            <%= link_to h(s.title), admin_sem_app_url(s) %><br/>
            <span style="font-size:90%"><%= h(s.tutors) %></span><br/>
            <span style="font-size:90%"><%= h(s.semester.title) %>, <%= h(s.location.title) %></span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="pui-panel notice align-center">
    Keine eSeminarapparate gefunden.
  </div>
<% end %>
