<% if @sem_apps.present?  %>
  <table class="pui-tableview">
    <thead>
      <tr>
        <th>Seminarapparat</th>
      </tr>
    </thead>
    <tbody>
      <% @sem_apps.each_with_index do |sem_app, n| %>
        <tr class="<%= (n % 2 == 0) ? 'even' : 'odd' -%>">
          <td>
            <% unless sem_app.approved? %>
              <%= icon 'star.png' %>
            <% end %>

            <% if Book.for_sem_app(sem_app).ordered.count > 0 %>
              <%= icon 'overlay/book--plus.png' %>
            <% end %>

            <% if Book.for_sem_app(sem_app).removed.count > 0 %>
              <%= icon 'overlay/book--minus.png' %>
            <% end %>

            <strong><%= link_to sem_app.title, admin_sem_app_path(sem_app) %></strong><br/>
            im <%= sem_app.semester.title %><br/>
            Dozent(en): <%= sem_app.tutors %><br/>
            Fachbibliothek: <%= sem_app.location.title %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="pui-view align-center">
    <%= will_paginate @sem_apps %>
  </div>
<% else %>
  <div class="pui-panel notice align-center">
    Keine Seminarapparate gefunden.
  </div>
<% end %>
