<h3>eSeminarapparate</h3>

<div class="subcolumns">
  <div class="c75l">
    <div class="subcl">
      <% if @sem_apps and not @sem_apps.empty?  %>
        <div style="text-align: right">
          <%= select_tag(:org_unit,
            '<option>Alle</option>' +
              options_from_collection_for_select(OrgUnit.find(:all), "id", "title")) %>
        </div>
        <table class="pui-datagrid">
          <tr>
            <th>Titel</th>
            <th></th>
          </tr>
          <% @sem_apps.each do |s| %>
            <tr>
              <td>
                <%= link_to h(s.title), sem_app_url(s) %>
              </td>
              <td align="right">
                <%= pui_link_icon 'Bearbeiten', 'pencil', edit_admin_sem_app_path(s) %>
                <%= pui_link_icon 'Löschen', 'trash', admin_sem_app_path(s), :method => :delete, :confirm => "Soll der eSeminarapparat #{s.id} wirklich gelöscht werden?" %>
              </td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <% pui_panel :panel_style => 'highlight' do %>
          <p>
            Keine eSeminarapparate eingerichtet.
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="c25r">
    <div class="subcr" style="border-left: 1px solid #ddd">
      <div style="text-align: center; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd">
        <%= pui_link_button 'Neuen Sem.App', new_admin_sem_app_path, :icon => 'plusthick' %>
      </div>
      
      <h4>Filter</h4>
      <ul class="nav">
        <li><%= link_to('Alle', '#') %></li>
        <li><%= link_to('Zu prüfen', '#') %></li>
      </ul>
    </div>
  </div>
</div>