<h3 class="section">Seminarapparate verwalten</h3>

<div class="grid_8 alpha">
  <%= render 'listing' %>
</div>

<div class="grid_4 omega">
  <div class="pui-panel">
    <%= form_tag filter_admin_sem_apps_path do %>
      <p>
        <%= check_box_tag "filter[unapproved]", '1', @filter.unapproved %>
        <label>Nur <strong>neue</strong> Seminarapparate</label>
      </p>
      <p>
        <%= check_box_tag "filter[book_jobs]", '1', @filter.book_jobs %>
        <label>Nur Buchaufträge</label>
      </p>
      <p>
        <label>Semester</label><br/>
        <%= collection_select(:filter, :semester_id, Semester.order('position ASC'), :id, :title, {:include_blank => "Alle"}, {:style => 'width: 195px'}) %>
      </p>
      <p>
        <label>Standort</label><br/>
        <%= collection_select(:filter, :location_id, Location.all, :id, :title, {:include_blank => "Alle"}, {:style => 'width: 195px'}) %>
      </p>
      <p>
        <label>Titel</label><br/>
        <%= text_field_tag "filter[title]", @filter.title, {:style => 'width: 190px'} %>
      </p>
      <p>
        <label>Dozent</label><br/>
        <%= text_field_tag "filter[tutors]", @filter.tutors, {:style => 'width: 190px'}  %>
      </p>
      <p>
        <label>Besitzer (Name oder PA Nr.)</label><br/>
        <%= text_field_tag "filter[creator]", @filter.creator, {:style => 'width: 190px'}  %>
      </p>
      <p>
        <label>Buch Ausweis (PE Nr.)</label><br/>
        <%= text_field_tag "filter[ils_account]", @filter.ils_account, {:style => 'width: 190px'}  %>
      </p>
      <p>
        <label>Regal Nr.</label><br/>
        <%= text_field_tag "filter[slot_number]", @filter.slot_number, {:style => 'width: 190px'}  %>
      </p>
      <div class="align-center">
        <%= submit_tag 'Filtern' %>
        <% if @filtered %>
          <%= link_to 'Zurücksetzen', filter_admin_sem_apps_path, :method => :post %>
        <% end %>
      </div>
    <% end %>
  </div>

  <p><i>Sortiert nach Datum der Beantragung</i></p>
</div>
