<h3 class="section">Seminarapparate verwalten</h3>

<div class="grid_8 alpha">
  <%= render 'listing' %>
</div>

<div class="grid_4 omega">
  <div class="pui-panel">
    <% form_tag filter_admin_sem_apps_path do %>
      <p>
        <%= radio_button_tag "filter[only]", 'all',  !@filter.unapproved_only or !@filter.bookjobs_only %>
        <label>Alle Seminarapparate</label>
      </p>
      <p>
        <%= radio_button_tag "filter[only]", 'unapproved', @filter.unapproved_only %>
        <label>Nur neue Seminarapparate</label>
      </p>
      <p>
        <%= radio_button_tag "filter[only]", 'bookjobs', @filter.bookjobs_only %>
        <label>Nur Buchaufträge</label>
      </p>
      <p>
        <label>Semester</label><br/>
        <%= collection_select(:filter, :semester, Semester.all, :id, :title, {:include_blank => "Alle"}, {:style => 'width: 195px'}) %>
      </p>
      <p>
        <label>Fachbibliothek</label><br/>
        <%= collection_select(:filter, :location, Location.all, :id, :title, {:include_blank => "Alle"}, {:style => 'width: 195px'}) %>
      </p>
      <p>
        <label>Titel</label><br/>
        <%= text_field_tag "filter[title]", @filter.title, {:style => 'width: 190px'} %>
      </p>
      <p>
        <label>Dozent</label><br/>
        <%= text_field_tag "filter[tutors]", @filter.tutors, {:style => 'width: 190px'}  %>
      </p>
      <p>
        <label>Besitzer (Name oder PA Nr.)</label><br/>
        <%= text_field_tag "filter[creator]", @filter.creator, {:style => 'width: 190px'}  %>
      </p>
      <div class="align-center">
        <%= submit_tag 'Filtern' %>
      </div>
    <% end %>
  </div>
</div>
