<h3 class="section clearfix" style="margin-bottom: 30px">
  <div style="float: left">
    Seminarapparate verwalten &raquo; Details
  </div>

  <div class="align-right" style="margin-bottom: 5px">
    <% link_to admin_sem_apps_path, :class => 'pui-button' do %>
      <%= icon 'arrow-curve-180-left.png' %>
      Zurück zur Übersicht
    <% end %>

    <% link_to edit_admin_sem_app_path(@sem_app), :class => "pui-button" do %>
      <%= icon 'wrench-screwdriver.png' %>
      Bearbeiten
    <% end %>
  </div>
</h3>

<% if @ordered_books.present? or @removed_books.present? %>
  <div class="pui-panel notice align-center">
    Es gibt Buchaufträge für diesen Seminarapparat
    <% link_to admin_sem_app_path(@sem_app, :format => :print), :class => "print pui-button" do %>
      <%= icon 'printer.png' %>
      Aufträge Drucken
    <% end %>
  </div>
<% end %>

<div class="pui-view clearfix">
  <div class="grid_8 alpha">
    <% unless @sem_app.approved %>
      <div class="pui-panel notice align-center">
        Der Seminarapparat muss noch überprüft und freigeschaltet werden!
      </div>
    <% end %>

    <div class="pui-collection-view labeled">
      <%= labeled_item :label => 'Titel',       :content => link_to(h(@sem_app.title), sem_app_path(@sem_app)) %>
      <%= labeled_item :label => 'Tutor(en)',   :content => h(@sem_app.tutors) %>
      <%= labeled_item :label => 'Semester',    :content => h(@sem_app.semester.title) %>
      <%= labeled_item :label => 'Standort',    :content => h(@sem_app.location.title) %>
      <%= labeled_item :label => 'Lesekennung', :content => "<code>#{@sem_app.shared_secret}</code>" %>
    </div>
  </div>

  <div class="grid_4 omega">
    <div class="pui-panel">
      <h5 class="section">Ausweis / Regal</h5>
      <% if @sem_app.book_shelf.present? %>
        <p>
          <strong>Ausweis Nr.:</strong>
          <%= @sem_app.book_shelf.ils_account %>
        </p>
        <p>
          <strong>Regal Nr.:</strong>
          <%= @sem_app.book_shelf.slot_number %>
        </p>
      <% else %>
        <div class="pui-panel notice align-center">
          Dem Apparat wurde noch kein Regal/Ausweis zugeordnet
        </div>
      <% end %>
      <div style="font-size: 90%; text-align: center">
        <%= h(@sem_app.location.title) %>
      </div>
    </div>
  </div>
</div>


<div class="pui-tabs-wrapper">
  <ul class="pui-tabs">
    <li>
      <a href="#users">
        <%= icon 'users.png' %>
        Benutzer
      </a>
    </li>
    <li>
      <a href="#new-books">
        <%= icon 'overlay/book--plus.png' %>
        Bücher neu
      </a>
    </li>
    <li>
      <a href="#removed-books">
        <%= icon 'overlay/book--minus.png' %>
        Bücher zurück
      </a>
    </li>
  </ul>

  <div class="pui-tab-panes">
    <div>
      <%= render 'users' %>
    </div>

    <div>
      <%= render 'ordered_books' %>
    </div>

    <div>
      <%= render 'removed_books' %>
    </div>
  </div>
</div>
