<% form_for [:admin, @user], :html => {:class => 'puiform'} do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend>Basisdaten</legend>
    <ol>
      <li>
        <div class="container">
          <%= f.check_box :approved %>
          <%= f.label     :approved, "Gepr&uuml;ft?" %>
          <%= f.check_box :active %>
          <%= f.label     :active, "Aktiv?" %>
        </div>
      </li>
      <li>
        <%= f.label      :login, "Login" %>
        <%= f.text_field :login %>
      </li>
      <li>
        <% unless @user.new_record? %>
          <p style="font-size: 90%; font-style: italic; text-align: center">
            Um das Passwort zu &auml;ndern geben Sie das neue Passwort (und die Best&auml;tigung)
            bitte ein.<br/>
            Ansonsten lassen Sie die Felder einfach leer.
          </p>
        <% end %>
        <%= f.label          :password, "Passwort" %>
        <%= f.password_field :password %>
      </li>
      <li>
        <%= f.label          :password_confirmation, "Passwort best&auml;tigen" %>
        <%= f.password_field :password_confirmation %>
      </li>
    </ol>
  </fieldset>
  <fieldset>
    <legend>Persönliche Daten</legend>
    <ol>
      <li>
        <%= f.label :name, "Name*" %>
        <%= f.text_field :name %>
      </li>
      <li>
        <%= f.label :email, "E-Mail*" %>
        <%= f.text_field :email %>
      </li>
    </ol>
  </fieldset>
  <fieldset>
    <legend>Kontaktdaten im Haus</legend>
    <ol>
      <li>
        <%= f.label :phone, "Telefon" %>
        <%= f.text_field :phone %>
      </li>
      <li>
        <%= f.label :department, "Lehrstuhl" %>
        <%= f.text_field :department %>
      </li>
    </ol>
  </fieldset>
  <fieldset class="submit">
    <legend>Speichern</legend>
    <%= f.submit 'Speichern' %>
    <%= link_to 'Abbrechen', admin_users_path %>
  </fieldset>
<% end %>

