<div id="users_listing">
  <% if @users and not @users.empty?  %>
    <%= will_paginate @users, :style => "text-align: left" %>
    <table class="pui-datagrid">
      <thead>
        <tr>
          <th></th>
          <th>Login</th>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |s| %>
          <tr>
            <td nowrap="true" valign="middle">
              <% if s.approved? %><%= image_tag('common/state_green.gif', :title => 'Geprüft') %><% else %><%= image_tag('common/state_red.gif', :title => 'NICHT Geprüft') %><% end %>
              <% if s.active? %><%= image_tag('common/state_green.gif', :title => 'Aktiviert') %><% else %><%= image_tag('common/state_red.gif', :title => 'NICHT Aktiviert') %><% end %>
            </td>
            <td nowrap="true">
              <%= s %>
              <% if s == current_user %>
                <span style="font-style:italic; font-size:90%">(das sind sie)</span>
              <% end %>
            </td>
            <td width="100%">
              <%= s.full_name %>
            </td>
            <td align="right" nowrap="true">
              <%= link_to 'Bearbeiten', edit_admin_user_path(s) %>
              <% if current_user != s %>
                <%= link_to 'Löschen', admin_user_path(s), :method => :delete, :data => {:confirm => "Soll der Benutzer #{s.login} wirklich gelöscht werden?"} %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="pui-panel notice">
      <p>
        Keine Benutzer gefunden.
      </p>
    </div>
  <% end %>
</div>
