<h2 class="section">Anmelden</h2>

<div class="pui-view align-right">
  <%= image_tag 'icons/question-shield.png', :plugin => 'pui' %>
  <%= link_to 'Wann benötige ich ein persönliches Login?', '#', :rel => '#login-required-help', :class => 'pui-overlay-trigger' %>
</div>

<div class="pui-tabs-wrapper">
  <ul class="pui-tabs">
    <li><a href="#local">Lokale Anmeldung</a></li>
    <li><a href="#imt">IMT Anmeldung</a></li>
  </ul>

  <div class="pui-tab-panes">
    <div id="local-login-panel">
      <% semantic_form_for @user_session do |f| %>
        <% f.inputs :name => "Anmelden (mit lokalen Nutzerdaten)" do %>
          <%= f.input :login, :label => 'Login' %>
          <%= f.input :password, :label => 'Passwort' %>
        <% end %>

        <% f.buttons do %>
          <%= f.commit_button 'Anmelden' %>
        <% end %>
      <% end %>

      Noch kein lokales Login?
      <%= link_to '&raquo; Login einrichten', new_user_path %><br/>
      Passwort vergessen?
      <%= link_to '&raquo; Passwort wiederherstellen', '#',
        :rel => "#password-recovery-help",
        :class => "pui-overlay-trigger" %>
    </div>

    <div id="imt-login-panel">
      <div class="pui-panel notice align-center">
        Eine Anmeldung mit Ihren IMT Zugangsdaten wird in einer späteren Programmversion
        zur Verfügung stehen. Verwenden Sie bitte bis dahin die lokale Anmedung.
      </div>
    </div>
  </div>
</div>

<div class="pui-overlay" id="login-required-help">
  <h2 class="section">Wann benötige ich ein persönliches Login?</h2>
  <div class="pui-panel notice align-center">
    <strong>Bitte beachten Sie:</strong> Der Zugriff auf die Materialien erfolgt <strong>ohne persönliches Login</strong>
    mit der in der Veranstaltung bekanntgegebenen <i>Kennung für den Lesezugriff</i>.
  </div>
  <p>
    Sie benötigen für die eSeminarapparate nur in folgenden Fällen ein persönliches
    Login.
  </p>
  <ol>
    <li>
      Wenn Sie als Lehrender, oder im Auftrag eines Lehrenden (z.B. als SHK),
      einen eSeminarapparat beantragen oder bearbeiten möchten
    </li>
    <li>
      Wenn Sie personalisierte Funktionen der eSeminarapparate verwenden möchten, z.B.
      <ul>
        <li>Meine eSeminapparate merken</li>
        <li>Automatische E-Mail Benachrichtigung bei Änderungen</li>
        <li>usw.</li>
      </ul>
    </li>
  </ol>
</div>

<div class="pui-overlay" id="password-recovery-help">
  <h2 class="section">Passwort wiederherstellen?</h2>
  <p>
    Diese Funktion steht aktuell noch nicht zur Verfügung. Bitte wenden Sie sich
    solange an das Informationszentrum in der Universitätsbibliothek.
  </p>
</div>

