<h2 class="section">Abmelden</h2>

<div class="pui-panel align-center">
  Sie sind aktuell angemeldet als Benutzer<br/>
  <strong><%= User.current.firstname %> <%= User.current.lastname %></strong>
  (<%= User.current.login %>)
</div>

<p class="align-center">
  <% link_to logout_path, :method => :delete, :class => 'pui-button' do %>
    <%= image_tag 'icons/door-open-out.png', :plugin => 'pui' %>
    Abmelden
  <% end %>
  <%= link_to 'Abbrechen', root_path %>
</p>
