<h2 class="section">Abmelden</h2>

<div class="pui-panel align-center notice">
  Sie sind aktuell angemeldet als Benutzer<br/>
  <strong><%= current_user.firstname %> <%= current_user.lastname %></strong>
  (<%= current_user.login %>)
</div>

<div class="pui-panel align-center">
  <% link_to logout_path, :method => :delete, :class => 'pui-button' do %>
    <%= image_tag 'icons/door-open-out.png', :plugin => 'pui' %>
    Abmelden
  <% end %>
  <%= link_to 'Abbrechen', root_path %>
</div>
