<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="de">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Content-Language" content="de"/>
    <meta http-equiv="expires" content="0"/>

    <%= stylesheet_link_tag(
                            "reset.css",
                            "960.css",
                            "pui.css",
                            "default.css",
                            "formtastic.css",
                            "formtastic-changes.css",
                              :media => "screen") %>

    <%= javascript_include_tag(
                                #"jquery-1.8.3.min.js",
                                #"jquery-1.7.2.min.js",
                                "jquery-1.3.2.min.js",
                                #"jquery-1.4.2.min.js",
                                #"jquery-1.4.min.js",
                                "jquery-tools-1.1.2.min.js",
                                "jquery-form-2.33.js",
                                "rails.js",
                                "pui.js") %>

    <script type="text/javascript">
      //<![CDATA[
      jQuery.noConflict();
      //]]>
    </script>

    <script type="text/javascript">
      jQuery(function() {
        jQuery.alwaysSendAuthToken("<%= form_authenticity_token.inspect %>");
      });
    </script>
    <%= javascript_include_tag(
      "/vendor/markitup/jquery.markitup.pack.js",
      "/vendor/markitup/sets/textile/set.js") %>
    <%= stylesheet_link_tag(
      "/vendor/markitup/skins/pui/style.css",
      "/vendor/markitup/sets/textile/style.css",
      :media => "screen") %>
    <%= javascript_include_tag("jquery/jquery-ui-1.7.2.custom.min.js") %>
    <%= javascript_include_tag("application.js") %>
    <%= stylesheet_link_tag("page.css", :media => "screen") %>
    <%= csrf_meta_tag %>

    <title>Universit&auml;tsbibliothek Paderborn - elektronische Seminarapparate</title>
    <%= yield :head %>
  </head>

  <body>
    <%= render 'shared_partials/ie6_notice' %>

    <% global_message_file = "#{::Rails.root}/config/_global_message.erb" %>
    <% if File.exists?(global_message_file) %>
      <%= render :file => global_message_file %>
    <% end %>

    <div id="meta-wrapper">
      <div id="meta" class="container_16 clearfix">
        <div class="grid_16">
          <div id="meta-navigation">
            <%= render 'shared_partials/meta_navigation' %>
          </div>
        </div>
      </div>
    </div>

    <div id="header-wrapper">
      <div id="header" class="container_16 clearfix">
        <div id="stage-wrapper" class="grid_4 grid_padded">
          <div id="stage"></div>
        </div>
        <div id="logo-upb" class="grid_12"></div>
      </div>
    </div>

    <div id="page-wrapper">
      <div id="page" class="container_16 clearfix">
        <div id="sidebar-wrapper" class="grid_4 grid_padded">
          <div id="sidebar">
            <div id="logo-ub"></div>
            <div id="navigation">
              <%= yield :sidebar %>
            </div>
          </div>
          <div id="sidebar-bottom-cap"></div>
        </div>

        <div id="content" class="grid_12">
          <%= render 'shared_partials/flash_messages' %>
          <%= yield :layout %>
          <%= render 'shared_partials/common_help' %>
          <%= render 'shared_partials/legal_info' %>
        </div>
      </div>
    </div>

    <div id="footer" class="container_16 clearfix">
      <div class="grid_16">
        <%= render 'shared_partials/footer' %>
      </div>
    </div>
  </body>
</html>
